<div class="qRcodeTitle">
  <img src="./assets/image/qRcodeIcon.png" alt="">
</div>
<div class="con">
  <div class="shopInfoBox">
    <img class="bg" src="./assets/image/paySureHeadBg.png" alt="">
    <div class="shopInfoCon">
      <div class="text fz25"><img src="./assets/image/shopIcon.png" alt="">春鸟皮肤管理中心顺义天美一店</div>
      <div class="text">门店地址：北京市顺义区XXXXXXX19号</div>
      <div class="text">营业时间：10:00-22:00</div>
      <div class="text">联系电话：13910250215</div>
    </div>
    <div class="editShop">修 改 ></div>
  </div>
  <div class="userInfo">
    <div class="inputBox">
      <span>付款金额：</span><input type="number">
    </div>
    <div class="inputBox">
      <span>订单号：</span><input [(ngModel)]="orderNo" type="text">
    </div>
    <div class="textBox" >
      <span style="margin-left: 0.1rem">优惠方式：</span>
      <div class="cheapBox">
        <span class="name">内购券优惠-金永涵</span>
        <div class="name">
          -2000元
          <img src="./assets/image/closeIcon.png" alt="">
        </div>
      </div>
    </div>
    <div class="price">
      <span class="s1">应付金额:</span>
      <span class="s2">￥10380.00</span>
    </div>
  </div>
  <div class="saveBtn" (click)="wxpay()">完成本次服务</div>
</div>
<app-alertbox></app-alertbox>
