.conBg{
  width: 100%;
  height: 100%;
  background: #eeeeee;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.priceBar{
  width: 100%;
  height: 1rem;
  background: #FFF;
  position: fixed;
  left: 0;
  bottom: 1.2rem;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.priceBar .noselRaido{
  width: 0.34rem;
  height: 0.34rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.34rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  margin-top: -0.17rem;
 }
.priceBar .kong{
  width: 0.17rem;
  height: 0.17rem;
  background: none;
  border-radius: 0.17rem;
}
.priceBar .raidoSelit{
  border: 1px solid #e7cd94 !important;
}
.priceBar .shi{
  background: #e7cd94 !important;
}
.priceBar .price{
  width: 73%;
  height: 100%;
  line-height: 1rem;
  color: #deb95f;
  font-size: 0.36rem;
  padding-right: 0.4rem;
  text-align: right;
}

.priceBar .payBtn{
  width: 27%;
  height: 100%;
  line-height: 1rem;
  color: #FFF;
  font-size: 0.30rem;
  background: #efcd83;
  text-align: center;
}
