<div class="conBg"></div>
<div class="editBtn" (click)="canEdit=!canEdit">{{canEdit?'完成':'编辑'}}</div>
<div class="cartContent">
  <div class="shopCartBox" *ngIf="cartListInfo.cartDetail.length>0">
    <div class="heads">
      <div class="noselRaido raidoSelit left30">
        <div class="kong shi"></div>
      </div>
      <span class="shopName ml90">{{cartListInfo.storeName}}</span>
    </div>
    <div class="productList"  (click)="goGoodsDetail(item)" *ngFor="let item of cartListInfo.cartDetail">
      <div class="noselRaido raidoSelit left30" (click)="choseList(item);$event.stopPropagation();">
        <div [class.shi]="item.ischeck" class="kong"></div>
      </div>
      <div class="productImg ml90">
        <img src="{{item.miniPhotoAddr}}" alt="">
      </div>
      <div class="productIndec">
        <div class="name">{{item.goodsName}}</div>
        <div class="classly">
          <div class="list">{{item.skuSpecName}}</div>
        </div>
        <div class="specBox">
          <span>{{item.skuStyleName}}</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="price">￥{{item.price | number:'2.2-2'}}</div>
        <div class="caozuoBox">
          <div class="btn cutBtn" (click)="cute(item);$event.stopPropagation();">-</div>
          <div class="numBox">{{item.number}}</div>
          <div class="btn addBtn" (click)="addFn(item);$event.stopPropagation();">+</div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="priceBar">
  <div (click)="choseAll()">
    <div class="noselRaido raidoSelit">
      <div [class.shi]="choseAllStatus" class="kong"></div>
    </div>
    <div *ngIf="canEdit" class="quanClass">全选</div>
  </div>
  <div class="price" *ngIf="!canEdit">￥ {{allMoney | number:'2.2-2'}}</div>
  <div class="payBtn" (click)="delGoods()" *ngIf="canEdit">删除 （{{allNum}}）</div>
  <div class="payBtn" *ngIf="!canEdit" (click)="goPaysure()" >去结算（{{allNum}}）</div>
</div>

<app-alertbox></app-alertbox>
