<div class="conBg"></div>
<div class="editBtn" (click)="canEdit=!canEdit">{{canEdit?'完成':'编辑'}}</div>
<div class="cartContent">
  <div class="shopCartBox">
    <div class="heads">
      <div class="noselRaido raidoSelit left30">
        <div class="kong shi"></div>
      </div>
      <span class="shopName ml90">{{cartListInfo.storeName}}</span>
    </div>
    <div class="productList" *ngFor="let item of cartListInfo.cartDetail">
      <div class="noselRaido raidoSelit left30">
        <div class="kong shi"></div>
      </div>
      <div class="productImg ml90">
        <img src="{{item.miniPhotoAddr}}" alt="">
      </div>
      <div class="productIndec">
        <div class="name">{{item.goodsName}}</div>
        <div class="price">￥{{item.price | number:'2.2-2'}}</div>
      </div>
      <div class="caozuoBox">
        <div class="btn cutBtn" (click)="cute(item)">-</div>
        <div class="numBox">{{item.number}}</div>
        <div class="btn addBtn" (click)="addFn(item)">+</div>
      </div>
    </div>
  </div>
</div>
<div class="priceBar">
  <!--<div class="noselRaido">-->
    <!--<div class="kong"></div>-->
  <!--</div>-->
  <div class="noselRaido raidoSelit">
    <div class="kong shi"></div>
  </div>
  <div class="price">￥ 330</div>
  <!--<div class="payBtn">删除 （2）</div>-->
  <div class="payBtn" routerLink="../paysure">去结算（2）</div>
</div>
