<div class="navbar">
  <div class="navbarList" [routerLink]="['/index']" routerLinkActive="activeIndex" #rla="routerLinkActive">
    <img class="index" *ngIf="rla.isActive" src='./assets/image/indexSel.png' alt="">
    <img class="index" *ngIf="!rla.isActive" src='./assets/image/index.png' alt="">
    <div class="text">首页</div>
  </div>
  <div class="navbarList" [routerLink]="['/cart']" routerLinkActive="activeIndex" #rlacar="routerLinkActive">
    <img class="car"  *ngIf="rlacar.isActive" src='./assets/image/carSel.png' alt="">
    <img class="car"  *ngIf="!rlacar.isActive" src='./assets/image/car.png' alt="">
    <div class="text">购物车{{cartNum}}</div>
  </div>
  <div class="navbarList"  [routerLink]="['/myindex']" routerLinkActive="activeIndex" #rlaperson="routerLinkActive">
    <img class="person" *ngIf="rlaperson.isActive" src='./assets/image/personSel.png'   alt="">
    <img class="person" *ngIf="!rlaperson.isActive" src='./assets/image/person.png'  alt="">
    <div class="text">我的</div>
  </div>
</div>
