<div class="con">
  <div class="heads">
    <img class="headsBg" src="./assets/image/myindexHead.png" alt="">
    <div class="personImgBox">
      <img src="{{userInfo.headIconAddr}}" alt="">
    </div>
    <div class="infoBox">
      <span>昵称：{{userInfo.nickname}}</span>
      <span *ngIf="userInfo.phone">电话：{{userInfo.phone}}</span>
    </div>
    <!--<img class="chouIcon"  [routerLink]="['/luckdraw']" src="./assets/image/chouIcon.png" alt="">-->
  </div>
  <div class="orderStatusBox">
    <div class="statusHead">
      订单状态
    </div>
    <div class="statusCon">
      <div class="statusList" [routerLink]="['/myorder', {type:2}]">
        <img style="width: 0.48rem;height: 0.45rem" src="./assets/image/orderStatus1.png" alt="">
        <span>待支付</span>
        <div class="numbers" *ngIf="userInfo.noPaymentOrderNum">{{userInfo.noPaymentOrderNum}}</div>
      </div>
      <div class="statusList" [routerLink]="['/myorder', {type:3}]">
        <img style="width: 0.47rem;height: 0.43rem" src="./assets/image/orderStatus2.png" alt="">
        <span>待使用</span>
        <div class="numbers" *ngIf="userInfo.finishPaymentOrderNum">{{userInfo.finishPaymentOrderNum}}</div>
      </div>
      <div class="statusList" [routerLink]="['/myorder', {type:4}]">
        <img style="width: 0.44rem;height: 0.45rem" src="./assets/image/orderStatus3.png" alt="">
        <span>已完成</span>
      </div>
      <div class="statusList" [routerLink]="['/myorder', {type:1}]">
        <img style="width: 0.43rem;height: 0.45rem" src="./assets/image/orderStatus4.png" alt="">
        <span>全部订单</span>
      </div>
    </div>
  </div>
  <div class="effectLuckBox">
    <div class="effectLuckList"  (click)="goEffectluck(1)">
      <img src="./assets/image/effect.png" alt="">
      <span>{{userInfo.influence}}</span>
    </div>
    <div class="effectLuckList"  (click)="goEffectluck(2)">
      <img src="./assets/image/luck.png" alt="">
      <span>{{userInfo.luckyIndex}}</span>
    </div>
  </div>

  <div class="zeroShareBox" >
    <!--<img [routerLink]="['/newerdec', {'nums': userInfo.presentRemnant}]" src="./assets/image/zeroShare.png" alt="">-->
    <img [routerLink]="['/newerdec', {'nums': userInfo.presentRemnant}]" *ngIf="userInfo.presentRemnant>0" src="./assets/image/zeroShare.png" alt="">
    <img style="width: 7.25rem;height: 2.2rem" [routerLink]="['/newergif', {'goodsId': 5}]" *ngIf="userInfo.presentRemnant==0" src="./assets/image/newperson.png" alt="">
  </div>
  <div class="birdList" [routerLink]="['/aboutpromise', {'type': 'promise'}]">
    <span class="ml55">春鸟服务承诺</span>
    <img class="mr40" src="./assets/image/rigthArrow.png" alt="">
  </div>
  <div class="birdList" [routerLink]="['/aboutpromise', {'type': 'about'}]">
    <span class="ml55">关于春鸟科美</span>
    <img class="mr40" src="./assets/image/rigthArrow.png" alt="">
  </div>
</div>
<app-alertbox></app-alertbox>
