.bottom{
  width: 100%;
  height: 1.2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9;
  background: #FFF;
  display: flex;
  flex-direction: row;
}

.bottom .leftInfo{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #646464;
  font-size: 0.22rem;
}
.bottom .btns{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 0.28rem;
}
.bgyellow{
  background: #d8b669;
}
.bggreen{
  background: #316854;
}
.floatBox{
  width: 100%;
  height: 1rem;
  position: fixed;
  left: 0;
  bottom: 1.7rem;
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.shareTipsBox{
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  position: absolute;
  left:  0.7rem;
  top: 0;
  z-index: 3;
  color: #FFF;
  font-size: 0.22rem;
  line-height: 0.3rem;
  cursor: pointer;
}
.shareTipsBoxBg{
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  margin-left:  0.7rem;
  background: #000;
  opacity: 0.6;
}
.tipsTextBox{
  width: 3.1rem;
  height: 3.7rem;
  position: absolute;
  left: 1.7rem;
  top: -3.3rem;
  z-index: 6;
  padding: 0.25rem 0.15rem 0.25rem 0.35rem;
}
.tipsTextBox p{
  color: #FFF;
  font-size: 0.2rem;
}
.tipsTextBoxBg{
  width: 3.1rem;
  height: 3.7rem;
  position: absolute;
  left: 1.8rem;
  top: -3.3rem;
  z-index: 5;
  background: #000;
  opacity: 0.6;
}
.con{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1.2rem;
}
.content{
  width: 100%;
}
.content img{
  width: 100%;
}
