<div class="heads">
  <img class="headsBg" src="./assets/image/hexiaoTitle.png" alt="">
  <!--待付款-->
  <div class="headsBox" *ngIf="status==2">
    <div class="leftImg">
      <img src="./assets/image/daifuIcon.png" alt="">
    </div>
    <div class="rightInfo">
      <div class="list">剩余时间 {{hhh}}:{{mmm}}:{{sss}}</div>
    </div>
  </div>
  <!--待使用-->
  <div class="headsBox" *ngIf="status==3">
    <div class="leftImg">
      <img style="width: 1.12rem" src="./assets/image/daishiIcon.png" alt="">
    </div>
    <div class="rightInfo">
      <div class="list">用户名：张某</div>
      <div class="list">电话: 1374328984</div>
    </div>
  </div>
</div>
<div class="middleBox">
  <div class="shopInfoBox">
    <div class="shopInfoCon">
      <div class="text fz25" style="align-items: end!important;"><img src="./assets/image/shopIconHui.png" alt="">春鸟皮肤管理中心顺义天美一店</div>
      <div class="text">门店地址：北京市顺义区XXXXXXX19号</div>
      <div class="text">营业时间：10:00-22:00</div>
      <div class="text">联系电话：13910250215</div>
    </div>
    <div class="rightIcon">
      <a href="javascript:;">
        <img class="telImg" src="./assets/image/lettertelIcon.png" alt="">
      </a>
      <a href="javascript:;">
        <img class="addressImg" src="./assets/image/letterAddressIcon.png" alt="">
      </a>
    </div>
  </div>

  <!--待使用显示-->
  <div class="qrBigBox" *ngIf="status==3">
    <img  class="qrBg" src="./assets/image/qrBg.png" alt="">
    <div  class="qrBox">
      <div class="qrBoxCon">
        <img src="./assets/image/qrEx.png" alt="">
      </div>
    </div>
    <div class="tips">注意保管，请勿截图分享</div>
  </div>

  <div class="tabBox" *ngIf="status==3">
    <div class="tablist tablistSel">待服务 (4)</div>
    <div class="tablist">已完成 (3)</div>
  </div>
  <div class="titles" >
    服务项目：
  </div>
  <div class="shopCartBox">
    <div class="productList"  >
      <div class="productImg">
        <img src="" alt="">
      </div>
      <div class="productIndec">
        <div class="name">春鸟科美-素肤净体</div>
        <div class="classly">
          <div class="list">贝基尼</div>
        </div>
        <div class="specBox">
          <span>单次</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="number">x1</div>
        <div class="price">￥380.00</div>
      </div>

    </div>
    <div class="productList"  >
      <div class="productImg">
        <img src="" alt="">
      </div>
      <div class="productIndec">
        <div class="name">春鸟科美-素肤净体</div>
        <div class="classly">
          <div class="list">贝基尼</div>
        </div>
        <div class="specBox">
          <span>单次</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="number">x1</div>
        <div class="price">￥380.00</div>
      </div>

    </div>
  </div>
  <div class="juanBox" *ngIf="status==3">
    <img src="./assets/image/songJuan.png" alt="">
    <span>（剩余4张）</span>
  </div>
  <div class="titles" >
    订单信息：
  </div>
  <div class="orderBaseInfo">
    <div class="list">
      <span class="s1">订单编号：</span>
      <span class="s2">7893275982379</span>
    </div>
    <div class="list">
      <span class="s1">支付方式：</span>
      <span class="s2">微信支付</span>
    </div>
    <div class="list">
      <span class="s1">下单时间：</span>
      <span class="s2">2018-10-12 14:57:27</span>
    </div>
    <div class="list">
      <span class="s1">支付时间：</span>
      <span class="s2">2018-10-12 14:57:27</span>
    </div>
  </div>

  <div class="textBox">
    <span>金额合计：</span><span>￥10180.00</span>
  </div>
  <div class="textBox" style="border-bottom: 1px solid #e5e5e5 ">
    <span>优惠方式：</span>
    <div class="cheapBox">
      <span class="name">内购券优惠-金永涵</span>
      <div class="name">-2000元</div>
    </div>
  </div>
  <div class="textBox" *ngIf="status==3">
    <span></span><span>实付金额：￥10180.00</span>
  </div>
</div>
<div class="priceBar" *ngIf="status==2">
  <div class="price">
    <span class="s1">应付金额:</span>
    <span class="s2">￥10380.00</span>
  </div>
  <div class="payBtn" >立即支付</div>
</div>
