<div class="heads">
  <img class="headsBg" src="./assets/image/hexiaoTitle.png" alt="">
  <!--待付款-->
  <div class="headsBox" *ngIf="detailInfo.orderStatus==0">
    <div class="leftImg">
      <img src="./assets/image/daifuIcon.png" alt="">
    </div>
    <div class="rightInfo">
      <!--<div class="list">剩余时间 {{hhh}}:{{mmm}}:{{sss}}</div>-->
    </div>
  </div>
  <!--待使用-->
  <div class="headsBox" *ngIf="detailInfo.orderStatus==1">
    <div class="leftImg">
      <img style="width: 1.12rem" src="./assets/image/daishiIcon.png" alt="">
    </div>
    <div class="rightInfo">
      <div class="list">用户名：{{detailInfo.linkman}}</div>
      <div class="list">电话: {{detailInfo.subscribePhone}}</div>
    </div>
  </div>
  <!--已完成-->
  <div class="headsBox" *ngIf="detailInfo.orderStatus==2">
    <div class="leftImg">
      <img style="width: 1.13rem" src="./assets/image/wancheng.png" alt="">
    </div>
    <div class="rightInfo">
    </div>
  </div>
  <!--已取消-->
  <div class="headsBox" *ngIf="detailInfo.orderStatus==9">
    <div class="leftImg">
      <img style="width: 1.15rem" src="./assets/image/quxiaoIcon.png" alt="">
    </div>
    <div class="rightInfo">
    </div>
  </div>

</div>
<div class="middleBox">
  <div class="shopInfoBox">
    <div class="shopInfoCon">
      <div class="text fz25" style="align-items: end!important;"><img src="./assets/image/shopIconHui.png" alt="">{{detailInfo.store.name}}</div>
      <div class="text">门店地址：{{detailInfo.store.addr}}</div>
      <div class="text">营业时间：{{detailInfo.store.businessHours}}</div>
      <div class="text">联系电话：{{detailInfo.store.phone}}</div>
    </div>
    <div class="rightIcon">
      <a href="tel:{{detailInfo.store.phone}}">
        <img class="telImg" src="./assets/image/lettertelIcon.png" alt="">
      </a>
      <a [href]="daohangUrl">
        <img class="addressImg" src="./assets/image/letterAddressIcon.png" alt="">
      </a>
    </div>
  </div>

  <!--待使用显示-->
  <div class="qrBigBox" *ngIf="detailInfo.orderStatus==1">
    <img  class="qrBg" src="./assets/image/qrBg.png" alt="">
    <div  class="qrBox">
      <div class="qrBoxCon">
        <img [src]="detailInfo.consumeVerificationQRcode" alt="">
      </div>
    </div>
    <div class="tips">注意保管，请勿截图分享</div>
  </div>

  <div class="tabBox" *ngIf="detailInfo.orderStatus==1">
    <div class="tablist" [class.tablistSel]="iscomplete==false" (click)="iscomplete=false">待服务 ({{allServers-useServers}})</div>
    <div class="tablist" [class.tablistSel]="iscomplete==true" (click)="iscomplete=true">已完成 ({{useServers}})</div>
  </div>
  <div class="titles" >
    服务项目：
  </div>
  <div class="shopCartBox" *ngIf="detailInfo.orderStatus!=1">
    <div class="productList"  *ngFor="let list of detailInfo.detail">
      <div class="productImg">
        <img [src]="list.miniPhotoAddr" alt="">
      </div>
      <div class="productIndec">
        <div class="name">{{list.goodsName}}</div>
        <div class="classly">
          <div class="list">{{list.skuStyleName}}</div>
        </div>
        <div class="specBox">
          <span>{{list.skuSpecName}}</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="number">x{{list.count}}</div>
        <div class="price">￥{{list.price}}</div>
      </div>
    </div>
  </div>
  <!--待使用切换所需显示部分-->
  <div class="shopCartBox" *ngIf="detailInfo.orderStatus==1&&iscomplete==false">
    <div class="productList" [class.hide]="list.goodsNumber==list.checkoffNumber" *ngFor="let list of detailInfo.detail">
      <div class="productImg">
        <img [src]="list.miniPhotoAddr" alt="">
      </div>
      <div class="productIndec">
        <div class="name">{{list.goodsName}}</div>
        <div class="classly">

        </div>
        <div class="specBox">
          <span>{{list.skuSpecName}}</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="number">x{{list.goodsNumber-(list.checkoffNumber||0)}}</div>
      </div>
    </div>
  </div>
  <div class="shopCartBox" *ngIf="detailInfo.orderStatus==1&&iscomplete==true">
    <div class="productList"  *ngFor="let list of detailInfo.checkoff">
      <div class="productImg">
        <img [src]="list.miniPhotoAddr" alt="">
      </div>
      <div class="productIndec">
        <div class="name">{{list.goodsName}}</div>
        <div class="classly">

        </div>
        <div class="specBox">
          <span>{{list.skuSpecName}}</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="number">x{{list.checkedNumber}}</div>
      </div>
    </div>
  </div>
  <!--待使用切换所需显示部分结束-->

  <div class="juanBox" [routerLink]="['/newerdec', userInfo.presentRemnant]" *ngIf="detailInfo.orderStatus==1 || detailInfo.orderStatus==2">
    <img src="./assets/image/songJuan.png" alt="">
    <span>（剩余{{userInfo.presentRemnant}}张）</span>
  </div>
  <div class="titles" >
    订单信息：
  </div>
  <div class="orderBaseInfo">
    <div class="list">
      <span class="s1">订单编号：</span>
      <span class="s2">{{detailInfo.orderNo}}</span>
    </div>
    <div class="list">
      <span class="s1">支付方式：</span>
      <span class="s2">微信支付</span>
    </div>
    <div class="list">
      <span class="s1">下单时间：</span>
      <span class="s2">{{detailInfo.insertTime | date : 'yyyy-MM-dd HH:mm:ss' }}</span>
    </div>
    <div class="list">
      <span class="s1">支付时间：</span>
      <span class="s2">{{detailInfo.paymentTime | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
    </div>
    <div class="list" *ngIf="detailInfo.orderStatus==2">
      <span class="s1">使用时间：</span>
      <span class="s2">{{detailInfo.updatetime | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
    </div>
    <div class="list" *ngIf="detailInfo.orderStatus==9">
      <span class="s1">取消时间：</span>
      <span class="s2">{{detailInfo.updatetime | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
    </div>
    <textarea disabled [(ngModel)]="detailInfo.orderRemark"  class="memoBox"></textarea>
  </div>

  <div class="textBox">
    <span>金额合计：</span><span>￥{{detailInfo.orderPriceAmount}}</span>
  </div>
  <div class="textBox" *ngIf="detailInfo.discountPriceAmout>0" style="border-bottom: 1px solid #e5e5e5 ">
    <span>优惠方式：</span>
    <div class="cheapBox">
      <!--<span class="name">内购券优惠-金永涵</span>-->
      <div class="name">-{{detailInfo.discountPriceAmout}}元</div>
    </div>
  </div>
  <div class="textBox" *ngIf="detailInfo.orderStatus==1 || detailInfo.orderStatus==2 || detailInfo.orderStatus==9">
    <span></span><span>实付金额：￥{{detailInfo.orderAmountPayable}}</span>
  </div>
</div>
<div class="priceBar" *ngIf="detailInfo.orderStatus==0">
  <div class="price">
    <span class="s1">应付金额:</span>
    <span class="s2">￥{{detailInfo.orderAmountPayable}}</span>
  </div>
  <div class="payBtn" (click)="payFn()">立即支付</div>
</div>
<app-alertbox></app-alertbox>
