<div id="container" style="width: 100%;"></div>
<div class="restBtn" (click)="restFn()">
  <img src="./assets/image/dingwei.png" alt="">
</div>
<div class="serachBox" [class.bgWhite]="isfocus">
  <div class="editInput" [class.noShadow]="isfocus">
    <div class="selectBox">
      <select class="selects" [(ngModel)]="city" (ngModelChange)="cityChangeFn(city)">
        <option *ngFor="let item of AreaArr" value="{{item.fullname}}">{{item.fullname}}</option>
      </select>
      <img src="./assets/image/down.png" alt="">
    </div>
    <img src="./assets/image/searchIcon.png" alt="">
    <input [class.bgHui]="isfocus" type="text" [(ngModel)]="searchText" (focus)="focusFn()" (ngModelChange)="searchAddress()" placeholder="请输入文字">
    <div class="sureBtn" *ngIf="!isfocus" (click)="sureFn()">确认</div>
    <div class="sureBtn" *ngIf="isfocus" [class.bgnone]="isfocus" (click)="isfocus=false">返回</div>
  </div>
  <div class="resultBox" *ngIf="isfocus">
    <div class="resultList" (click)="choseAddress(item)" *ngFor="let item of searchResults let i=index">
      <div class="iconImg">
        <img src="./assets/image/addressIcon.png" alt="">
        <span>{{i+1}}</span>
      </div>
      <div class="textCon">
        <span class="titles">{{item.name}}</span>
        <span class="miller">{{item.address}}</span>
      </div>
      <div class="dist">{{(item.dist/1000) | number }}km</div>
    </div>
  </div>
</div>
<div [@openClose]="isOpen ? 'open' : 'closed'" class="shopBox">
  <div class="list" *ngFor="let item of shopArr let i = index" >
    <div style="display: flex;flex-direction: row;"  (click)="choseClick(item.latitude,item.longitude,item)">
      <div class="line"></div>
      <div class="shopImg">
        <img  [src]="item.photoAddr" alt="">
      </div>
      <div class="middle">
        <div class="top">
          <div class="iconImg">
            <img src="./assets/image/addressIcon.png" alt="">
            <span>{{i+1}}</span>
          </div>
          <div class="textCon">
            <span class="titles">{{item.name}}</span>
            <span class="miller">距您：{{item.distance}}km</span>
          </div>
        </div>
        <div class="bottom">
          {{item.addr}}
        </div>
      </div>
    </div>
    <a href="tel:{{item.phone}}">
      <img class="telImg" src="./assets/image/telIcon.png" alt="">
    </a>
  </div>
</div>
<div class="shopBox2" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="clickIcon"  (click)="toggle()">
    <img src="{{isOpen?'./assets/image/downArrow.png':'./assets/image/upArrow.png'}}" alt="">
  </div>
</div>

<app-alertbox></app-alertbox>
