#container {
  height: 10rem;
  -moz-box-shadow:0px 0.06rem 0.05rem #737373;
  -webkit-box-shadow:0px 0.06rem 0.05rem #737373;
  box-shadow:0px 0.02rem 0.06rem #737373;
}

.serachBox {
  position: fixed;
  width: 100%;
  height: 1.5rem;
  z-index: 19;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.serachBox .editInput{
  width: 6.8rem;
  height: 0.7rem;
  border-radius: 0.1rem;
  -moz-box-shadow: 0rem 0.08rem 0.1rem #bac5bf, 0.02rem 0rem 0.05rem #bac5bf, -0.02rem 0rem 0.05rem #bac5bf;
  -webkit-box-shadow: 0rem 0.08rem 0.1rem #bac5bf, 0.02rem 0rem 0.05rem #bac5bf, -0.02rem 0rem 0.05rem #bac5bf;
  box-shadow: 0rem 0.08rem 0.1rem #bac5bf, 0.02rem 0rem 0.05rem #bac5bf, -0.02rem 0rem 0.05rem #bac5bf;
  position: relative;
}
.serachBox .editInput input{
  width: 100%;
  height: 100%;
  border: 0px;
  background: #FFF;
  color: #3c3c3c;
  font-size: 0.26rem;
  text-align: center;
  outline: none;
}

.serachBox .editInput img {
  position: absolute;
  width: 0.32rem;
  height: 0.33rem;
  left: 0.45rem;
  top: 0.2rem;
  z-index: 3;
}
.bgWhite{
  background: #FFF !important;
}
.bgHui{
  background: #eeeeee !important;
}
.noShadow{
  box-shadow:none !important;
}
.resultBox{
  width: 100%;
  height: 15rem;
  background: #FFF;
  border-top: 0.12rem solid #eeeeee;
  position: absolute;
  left: 0;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultList{
  width: 6.65rem;
  height: 1.3rem;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.resultList .iconImg{
  width: 0.39rem;
  height: 0.55rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.resultList .iconImg img{
  width: 0.39rem;
  height: 0.55rem;
}
.resultList .iconImg span{
  color: #FFF;
  font-size: 0.26rem;
  position: absolute;
  z-index: 1;
  margin-top: -0.1rem;
}

.resultList .textCon{
  display: flex;
  flex-direction: column;
  margin-left: 0.07rem;
  width: 4.8rem;
}
.resultList .textCon .titles{
  color: #3c3c3c;
  font-size: 0.26rem;
}
.resultList .textCon .miller{
  color: #797979;
  font-size: 0.2rem;
}
.resultList .dist{
  color: #3c3c3c;
  font-size: 0.26rem;
  position: absolute;
  right: 0.1rem;
  top: 0.4rem;
}


.shopBox{
  width: 100%;
  height: 5rem;
  position: fixed;
  left: 0;
  bottom: 1.1rem;
  background: #FFF;
  z-index: 9;
  overflow-y: auto;
}
.shopBox .list{
  width: 100%;
  height: 1.45rem;
  margin-top: 0.15rem;
  display: flex;
  flex-direction: row;
  position: relative;
}
.shopBox .list .line{
  width: 0.05rem;
  height: 100%;
  background: #e7cd94;
}
.shopBox .list .shopImg{
  width: 1.45rem;
  height: 100%;
  border-radius: 0.1rem;
  overflow: hidden;
  margin-left: 0.2rem;
}
.shopBox .list .shopImg img{
  width: 1.45rem;
  height: 1.45rem;
}


.shopBox .list .middle{
  width: 3.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0.2rem;
}
.shopBox .list .middle .top{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.shopBox .list .middle .top .iconImg{
  width: 0.39rem;
  height: 0.55rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.shopBox .list .middle .top .iconImg img{
   width: 0.39rem;
   height: 0.55rem;
}
.shopBox .list .middle .top .iconImg span{
  color: #FFF;
  font-size: 0.26rem;
  position: absolute;
  z-index: 1;
  margin-top: -0.1rem;
}
.shopBox .list .middle .top .textCon{
  display: flex;
  flex-direction: column;
  margin-left: 0.07rem;
}
.shopBox .list .middle .top .textCon .titles{
  color: #deb95f;
  font-size: 0.28rem;
  line-height: 0.28rem;
}
.shopBox .list .middle .top .textCon .miller{
  color: #7e7e7e;
  font-size: 0.2rem;
  margin-left: 0.07rem;
}
.shopBox .list .middle .bottom{
  width: 100%;
  color: #7e7e7e;
  font-size: 0.2rem;
  word-break:break-all;
  padding-left: 0.45rem;
}
.telImg{
  position: absolute;
  width: 0.76rem;
  height: 0.76rem;
  z-index: 3;
  right: 0.18rem;
  top: 0.07rem;
}
.shopBox2{
  width: 100%;
  height: 5rem;
  position: fixed;
  left: 0;
  bottom: 1.1rem;
  background: #FFF;
  z-index: 6;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.clickIcon{
  width: 0.56rem;
  height: 0.56rem;
  margin-top: -0.56rem;
}
.clickIcon img{
  width: 0.56rem;
  height: 0.56rem;
}

.sureBtn{
  width: 1.3rem;
  height: 100%;
  background: #FFF;
  border-left: 1px solid #d8d8d8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
.restBtn{
  width: 0.47rem;
  height: 0.48rem;
  z-index: 99;
  position: absolute;
  left: 0.3rem;
  top: 1.5rem;
}
.restBtn img{
  display: block;
  width: 100%;
}
.bgnone{
  background: none !important;
}
