<div id="container" style="width: 100%;"></div>
<div class="serachBox" [class.bgWhite]="isfocus">
  <div class="editInput" [class.noShadow]="isfocus">
    <img src="./assets/image/searchIcon.png" alt="">
    <input [class.bgHui]="isfocus" type="text" [(ngModel)]="searchText" (focus)="focusFn()" (keyup)="searchAddress()" placeholder="请输入文字">
  </div>
  <div class="resultBox" *ngIf="isfocus">
    <div class="resultList" (click)="choseAddress(item)" *ngFor="let item of searchResults let i=index">
      <div class="iconImg">
        <img src="./assets/image/addressIcon.png" alt="">
        <span>{{i+1}}</span>
      </div>
      <div class="textCon">
        <span class="titles">{{item.name}}</span>
        <span class="miller">{{item.address}}</span>
      </div>
      <div class="dist">{{(item.dist/1000) | number }}km</div>
    </div>
  </div>
</div>
<div [@openClose]="isOpen ? 'open' : 'closed'" class="shopBox">
  <div class="list" *ngFor="let item of shopArr let i = index" (click)="sureClick(item.latitude,item.longitude,item)">
    <div class="line"></div>
    <div class="shopImg">
      <img  src="./assets/image/shopImg.png" alt="">
    </div>
    <div class="middle">
      <div class="top">
        <div class="iconImg">
          <img src="./assets/image/addressIcon.png" alt="">
          <span>{{i+1}}</span>
        </div>
        <div class="textCon">
          <span class="titles">{{item.name}}</span>
          <span class="miller">距您：{{item.distance}}km</span>
        </div>
      </div>
      <div class="bottom">
        {{item.addr}}
      </div>
    </div>
    <img class="telImg" src="./assets/image/telIcon.png" alt="">
  </div>
</div>
<div class="shopBox2" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="clickIcon"  (click)="toggle()">
    <img src="{{isOpen?'./assets/image/downArrow.png':'./assets/image/upArrow.png'}}" alt="">
  </div>
</div>

<app-alertbox></app-alertbox>
