<div id="container" style="width: 100%;"></div>
<div class="serachBox">
  <img src="./assets/image/searchIcon.png" alt="">
  <span>请输入文字</span>
</div>
<div [@openClose]="isOpen ? 'open' : 'closed'" class="shopBox">
  <div class="list">
    <div class="line"></div>
    <div class="shopImg">
      <img  src="./assets/image/shopImg.png" alt="">
    </div>
    <div class="middle">
      <div class="top">
        <div class="iconImg">
          <img src="./assets/image/addressIcon.png" alt="">
          <span>1</span>
        </div>
        <div class="textCon">
          <span class="titles">春鸟国际亦庄店</span>
          <span class="miller">距您：3km</span>
        </div>
      </div>
      <div class="bottom">
        北京市大兴区天华西路天华园一里四区中央公馆10号楼底商
      </div>
    </div>
    <img class="telImg" src="./assets/image/telIcon.png" alt="">
  </div>
  <div class="list">
    <div class="line"></div>
    <div class="shopImg">
      <img  src="./assets/image/shopImg.png" alt="">
    </div>
    <div class="middle">
      <div class="top">
        <div class="iconImg">
          <img src="./assets/image/addressIcon.png" alt="">
          <span>1</span>
        </div>
        <div class="textCon">
          <span class="titles">春鸟国际亦庄店</span>
          <span class="miller">距您：3km</span>
        </div>
      </div>
      <div class="bottom">
        北京市大兴区天华西路天华园一里四区中央公馆10号楼底商
      </div>
    </div>
    <img class="telImg" src="./assets/image/telIcon.png" alt="">
  </div>
  <div class="list">
    <div class="line"></div>
    <div class="shopImg">
      <img  src="./assets/image/shopImg.png" alt="">
    </div>
    <div class="middle">
      <div class="top">
        <div class="iconImg">
          <img src="./assets/image/addressIcon.png" alt="">
          <span>1</span>
        </div>
        <div class="textCon">
          <span class="titles">春鸟国际亦庄店</span>
          <span class="miller">距您：3km</span>
        </div>
      </div>
      <div class="bottom">
        北京市大兴区天华西路天华园一里四区中央公馆10号楼底商
      </div>
    </div>
    <img class="telImg" src="./assets/image/telIcon.png" alt="">
  </div>
  <div class="list">
    <div class="line"></div>
    <div class="shopImg">
      <img  src="./assets/image/shopImg.png" alt="">
    </div>
    <div class="middle">
      <div class="top">
        <div class="iconImg">
          <img src="./assets/image/addressIcon.png" alt="">
          <span>1</span>
        </div>
        <div class="textCon">
          <span class="titles">春鸟国际亦庄店</span>
          <span class="miller">距您：3km</span>
        </div>
      </div>
      <div class="bottom">
        北京市大兴区天华西路天华园一里四区中央公馆10号楼底商
      </div>
    </div>
    <img class="telImg" src="./assets/image/telIcon.png" alt="">
  </div>
</div>
<div class="shopBox2" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="clickIcon"  (click)="toggle()">
    <img src="{{isOpen?'./assets/image/downArrow.png':'./assets/image/upArrow.png'}}" alt="">
  </div>
</div>

