<div class="heads">
  <img class="headsBg" src="./assets/image/hexiaoTitle.png" alt="">
  <div class="headsBox">
    <div class="list">用户名：{{hexiaoInfo.linkman}}</div>
    <div class="list">电话: {{hexiaoInfo.subscribePhone}}</div>
  </div>
</div>
<div class="middleBox">
  <div class="orderBaseInfo">
    <div class="list">
      <span class="s1">订单编号：</span>
      <span class="s2">{{hexiaoInfo.orderNo}}</span>
    </div>
    <div class="list">
      <span class="s1">支付方式：</span>
      <span class="s2">微信支付</span>
    </div>
    <div class="list">
      <span class="s1">下单时间：</span>
      <span class="s2">{{hexiaoInfo.insertTime | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
    </div>
    <div class="list">
      <span class="s1">支付时间：</span>
      <span class="s2">{{hexiaoInfo.paymentTime | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
    </div>
  </div>
  <div class="titles">
    服务项目：
  </div>
  <div class="shopCartBox">
    <div class="productList" (click)="choseList(list);" [class.hide]="list.goodsNumber==list.checkoffNumber" *ngFor="let list of hexiaoInfo.detail" >
      <div class="noselRaido raidoSelit ">
        <div [class.shi]="list.ischeck" class="kong"></div>
      </div>
      <div class="productImg ml50">
        <img [src]="list.miniPhotoAddr" alt="">
      </div>
      <div class="productIndec">
        <div class="name">{{list.goodsName}}</div>
        <div class="classly">
          <!--<div class="list">贝基尼</div>-->
        </div>
        <div class="specBox">
          <span>{{list.skuSpecName}}</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="number">x{{list.goodsNumber-(list.checkoffNumber||0)}}</div>
        <!--<div class="price">￥380.00</div>-->
      </div>

    </div>
  </div>
  <div class="titles" style="color: #737373">
    已完成项目：
  </div>
  <div class="shopCartBox">
    <div class="productList" *ngFor="let list of hexiaoInfo.checkoff" >
      <div class="productImg ml50">
        <img [src]="list.miniPhotoAddr" alt="">
      </div>
      <div class="productIndec">
        <div class="name">{{list.goodsName}}</div>
        <div class="classly">
          <!--<div class="list">贝基尼</div>-->
        </div>
        <div class="specBox">
          <span>{{list.skuSpecName}}</span>
        </div>
        <div class="specBox" >
          <span style="color: #737373">完成时间：{{list.insertTime | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="number">x{{list.checkedNumber}}</div>
        <!--<div class="price">￥380.00</div>-->
      </div>
    </div>
  </div>
  <div class="tipsBox">
    <img src="./assets/image/tipdeng.png" alt="">
    <span>提醒：请再次确认本次服务项目</span>
  </div>
  <div class="saveBtn" (click)="sureBoxStatus=true">完成本次服务</div>
</div>
<div *ngIf="sureBoxStatus" class='blackBg'></div>
<div *ngIf="sureBoxStatus" class='luckErroBox'>
  <img class="luckdawCloseBtn" (click)="sureBoxStatus=false" src="./assets/image/luckdawCloseBtn.png" alt="">
  <div class="suerBoxCon">
    <img src="./assets/image/tipdeng.png" alt="">
    <span>提醒：请再次确认本次服务项目</span>
  </div>
  <div class="sureBtn"  (click)="save()">确认完成</div>
</div>

<app-alertbox></app-alertbox>
