<div class="heads">
  <img class="headsBg" src="./assets/image/hexiaoTitle.png" alt="">
  <div class="headsBox">
    <div class="list">用户名：张某</div>
    <div class="list">电话: 1374328984</div>
  </div>
</div>
<div class="middleBox">
  <div class="orderBaseInfo">
    <div class="list">
      <span class="s1">订单编号：</span>
      <span class="s2">7893275982379</span>
    </div>
    <div class="list">
      <span class="s1">支付方式：</span>
      <span class="s2">微信支付</span>
    </div>
    <div class="list">
      <span class="s1">下单时间：</span>
      <span class="s2">2018-10-12 14:57:27</span>
    </div>
    <div class="list">
      <span class="s1">支付时间：</span>
      <span class="s2">2018-10-12 14:57:27</span>
    </div>
  </div>
  <div class="titles">
    服务项目：
  </div>
  <div class="shopCartBox">
    <div class="productList"  >
      <div class="noselRaido raidoSelit ">
        <div  class="kong shi"></div>
      </div>
      <div class="productImg ml50">
        <img src="" alt="">
      </div>
      <div class="productIndec">
        <div class="name">春鸟科美-素肤净体</div>
        <div class="classly">
          <div class="list">贝基尼</div>
        </div>
        <div class="specBox">
          <span>单次</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="number">x1</div>
        <div class="price">￥380.00</div>
      </div>

    </div>
    <div class="productList"  >
      <div class="noselRaido raidoSelit ">
        <div  class="kong shi"></div>
      </div>
      <div class="productImg ml50">
        <img src="" alt="">
      </div>
      <div class="productIndec">
        <div class="name">春鸟科美-素肤净体</div>
        <div class="classly">
          <div class="list">贝基尼</div>
        </div>
        <div class="specBox">
          <span>单次</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="number">x1</div>
        <div class="price">￥380.00</div>
      </div>

    </div>
    <div class="productList"  >
      <div class="noselRaido raidoSelit ">
        <div  class="kong shi"></div>
      </div>
      <div class="productImg ml50">
        <img src="" alt="">
      </div>
      <div class="productIndec">
        <div class="name">春鸟科美-素肤净体</div>
        <div class="classly">
          <div class="list">贝基尼</div>
        </div>
        <div class="specBox">
          <span>单次</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="number">x1</div>
        <div class="price">￥380.00</div>
      </div>

    </div>
  </div>
  <div class="titles" style="color: #737373">
    已完成项目：
  </div>
  <div class="shopCartBox">
    <div class="productList"  >
      <div class="productImg ml50">
        <img src="" alt="">
      </div>
      <div class="productIndec">
        <div class="name">春鸟科美-素肤净体</div>
        <div class="classly">
          <div class="list">贝基尼</div>
        </div>
        <div class="specBox">
          <span>单次</span>
        </div>
        <div class="specBox" >
          <span style="color: #737373">完成时间：2018-10-12 14:57:27</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="number">x1</div>
        <div class="price">￥380.00</div>
      </div>
    </div>
  </div>
  <div class="tipsBox">
    <img src="./assets/image/tipdeng.png" alt="">
    <span>提醒：请再次确认本次服务项目</span>
  </div>
  <div class="saveBtn">完成本次服务</div>
</div>

