<div class="con">
  <div class="titles">
    <div class="titleList">
      <div class="name">上期</div>
      <div class="date">9月1日~9月7日</div>
    </div>
    <div class="titleList thisdatebord">
      <div class="name">本期</div>
      <div class="date thisdate">9月8日~9月15日</div>
    </div>
    <div class="titleList">
      <div class="name">下期</div>
      <div class="date">9月1日~9月7日</div>
    </div>
  </div>

  <div class="mainBox">
    <img class="goodsImg" src="./assets/image/ex5.png" alt="">
    <div class="btnBox">
      <div class="littleBox">返回首页</div>
      <div class="bigBox">立即抢购</div>
    </div>
  </div>
</div>

