<div class="kanjiabox flexcol" style="padding-bottom: {{subscribe? '1.12rem':'4.12rem'}}">
  <div class="backicon" (click)="back()">
    <img src="./assets/image/kanjia/back.png" alt="">
  </div>
  <div class="huodongguize" (click)="showqs()"></div>
  <img src="./assets/image/kanjia/head.png" alt="">
  <div class="kanbox">
    <div class="prodinfo">
      <div class="leftimg" (click)="goGoodsDetail(detailInfo)">
        <img [src]="detailInfo.skuPic" alt="">
      </div>
      <div class="rightbox">
        <div class="text">{{detailInfo.skuName}}</div>
        <div class="decs">
          <div class="s1">￥{{detailInfo.skuPrice}}</div>
          <div class="s2">{{timer}}后砍价过期</div>
        </div>
      </div>
    </div>
    <div class="jindubox">
      <p>共{{detailInfo.count}}人已砍{{detailInfo.hasBargainMoney}}元，还差{{detailInfo.skuPrice*1 - detailInfo.hasBargainMoney*1}}元</p>
      <div class="line">
        <div class="wcline" ></div>
      </div>
    </div>
    <div class="kanbtn" *ngIf="tsstatus" (click)="sharetips = true">
      <div class="text">分享给好友，帮我砍一刀</div>
      <img src="./assets/image/kanjia/btnbg.png" alt="">
    </div>
    <div class="kanbtn" *ngIf="detailInfo.addOrder==false" (click)="showxiadanbox=true;">
      <div class="text">哇，好便宜了，我要下单！</div>
      <img src="./assets/image/kanjia/btnbg.png" alt="">
    </div>
    <div class="litterIcon">
      <img src="./assets/image/kanjia/littericon.png" alt="">
    </div>
  </div>

  <div class="kanfriendbox">
    <div class="greenyeIcon">
      <img src="./assets/image/kanjia/greenye.png" alt="">
    </div>
    <div class="changetitle">
      <div class="changetitlelist " [class.changetitlelistSel]="changetitle=='帮砍团'" (click)="changetitle = '帮砍团'">帮砍团</div>
      <div class="changetitlelist" [class.changetitlelistSel]="changetitle=='帮砍排行榜'" (click)="changetitle = '帮砍排行榜'">
        <span class="s1">砍价TOP20排行榜</span>
        <span class="s2">（共{{kantop.length}}人已完成砍价）</span>
      </div>
    </div>
    <div class="kanfriendmain bangkanboxs" [class.show]="changetitle=='帮砍团'">
      <div class="friendlist" *ngFor="let item of bangkan let i = index">
        <div class="paixu" style="background: none !important;"></div>
        <div class="headimg">
          <img [src]="item.headIconAddr" alt="">
        </div>
        <div class="name">{{item.memberNick}}</div>
        <img class="kanicon" src="./assets/image/kanjia/kanicon.png" alt="">
        <div class="kanmoney">共砍掉 <span>{{item.bargainMoney}}</span> 元</div>
      </div>
    </div>
    <div class="kanfriendmain" [class.show]="changetitle=='帮砍排行榜'">
      <div class="friendlist" *ngFor="let item of kantop let i = index">
        <div class="paixu" *ngIf="changetitle=='帮砍排行榜'">TOP {{i+1}}</div>
        <div class="headimg">
          <img [src]="item.headIconAddr" alt="">
        </div>
        <div class="name">{{item.memberNick}}</div>
        <img class="kanicon" src="./assets/image/kanjia/kanicon.png" alt="">
        <div class="kanmoney">共砍掉 <span>{{item.hasBargainMoney}}</span> 元</div>
      </div>
    </div>
  </div>

  <div class="indecbox" id="indecbox">
    <img class="indecimg" style="margin-top: .2rem" src="./assets/image/kanjia/indec1.png" alt="">
    <img class="indecimg" src="./assets/image/kanjia/indec2.png" alt="">
    <div class="tree1">
      <img src="./assets/image/kanjia/tree1.png" alt="">
    </div>
    <div class="tree2">
      <img src="./assets/image/kanjia/tree2.png" alt="">
    </div>
  </div>
</div>
<div class="erweibox" *ngIf="!subscribe">
  <img class="erweibg" src="./assets/image/kanjia/erweibg.png" alt="">
  <img class="erweima" src="./assets/image/gongzhongerwei.jpeg" alt="">
</div>
<div class="bottom">
  <div class="btns bgyellow" [routerLink]="['/index', {}]">平台首页</div>
  <div class="btns bggreen" (click)="showqs()">砍价玩法</div>
  <div class="btns" style="background: #204e3a" (click)="showqs()">活动规则</div>
</div>
<div class="loadBox" style="display: none">
  <img  src='./assets/image/loading.gif' /> 努力加载中...
</div>
<div class="yindaoimgBg" *ngIf="sharetips" (click)="sharetips=false"></div>
<img class="yindaoimg" *ngIf="sharetips" (click)="sharetips=false" src="./assets/image/kanjia/yindao.png" alt="">

<div *ngIf="showxiadanbox" class='blackBg'></div>
<div *ngIf="showxiadanbox" class='luckConBox' style="background: #FFF;height: 4rem;justify-content: flex-start;margin-top: -2.5rem;z-index: 9999">
  <div class="textBox" style="margin-top: 0.65rem;    font-size: .3rem;
    color: #000;">
    是否确认结束本次砍价，马上下单购买？
  </div>
  <div class="sureBtn" style="border: 1px solid #d8d8d8;border-radius: 5px;"  (click)="showxiadanbox = false">再等等</div>
  <div class="sureBtn" style="border: 1px solid #d8d8d8;border-radius: 5px;bottom: 1.6rem;color: #deb95f;"  (click)="payFn()">我要去下单</div>
</div>
<app-alertbox></app-alertbox>
