<div class="con">
  <div class="headTitle">
    <div [class.btnsel]="showWitch==1" class="titleBtn " (click)="choseit(1)" style="width: 49%;border-right: 1px solid #eeeeee">影响力</div>
    <div [class.btnsel]="showWitch==2" class="titleBtn" (click)="choseit(2)">幸运指数</div>
  </div>
  <div class="allCountBox">
    <img class="headsBg" src="./assets/image/myindexHeadnocolor.png" alt="">
    <div class="personImgBox">
      <img [src]="userInfo.headIconAddr" alt="">
    </div>
    <div class="infoBox" *ngIf="showWitch==1">
      <span>{{userInfo.influence}}</span>位好友
    </div>
    <div class="infoBox" *ngIf="showWitch==2">
      <span>{{userInfo.luckyIndex}}</span>幸运指数
    </div>
  </div>
  <div *ngIf="showWitch==1" class="effectBox">
    <div *ngFor="let item of effectList" class="effectList">
      <div class="personImgBox">
        <img [src]="item.friendHeadIconAddr" alt="">
      </div>
      <div class="context">
        <span class="name">{{item.friendNickname}}</span>
        <span>{{item.insertTime | date:'yyyy年MM月dd日'}}</span>
        <span>因您而更美</span>
      </div>
      <div class="rightInfo">
        <img src="./assets/image/effectIcon.png" alt="">
        <div class="tips">您获得{{item.influenceNumber}}次活动机会</div>
      </div>
    </div>
    <div class="loadBox loadBox1" style="display: none">
      <img  src='./assets/image/loading.gif' /> 努力加载中...
    </div>
  </div>
  <div *ngIf="showWitch==2" class="luckBox">
    <div class="luckHead">
      <div class="wordShow">幸运时刻</div>
      <div class="wordShow">幸运值</div>
    </div>
    <div class="luckList" *ngFor="let item of luckList">
      <div class="wordShow">{{item.insertTime | date:'yyyy-MM-dd'}}</div>
      <div class="wordShow yellowColor">{{item.money}}</div>
    </div>
    <div class="loadBox loadBox2" style="display: none">
      <img  src='./assets/image/loading.gif' /> 努力加载中...
    </div>
  </div>
</div>
<app-alertbox></app-alertbox>
