<div class="con">
  <div class="headTitle">
    <div [class.btnsel]="showWitch==1" class="titleBtn " (click)="choseit(1)" style="width: 49%;border-right: 1px solid #eeeeee">影响力</div>
    <div [class.btnsel]="showWitch==2" class="titleBtn" (click)="choseit(2)">幸运指数</div>
  </div>
  <div class="allCountBox">
    <img class="headsBg" src="./assets/image/myindexHeadnocolor.png" alt="">
    <div class="personImgBox">
      <img src="./assets/image/girl.png" alt="">
    </div>
    <div class="infoBox" *ngIf="showWitch==1">
      <span>85</span>位好友
    </div>
    <div class="infoBox" *ngIf="showWitch==2">
      <span>482</span>幸福值
    </div>
  </div>
  <div *ngIf="showWitch==1" class="effectBox">
    <div class="effectList">
      <div class="personImgBox">
        <img src="./assets/image/girl.png" alt="">
      </div>
      <div class="context">
        <span class="name">林凡</span>
        <span>2018年10月27日</span>
        <span>因您而更美</span>
      </div>
      <div class="rightInfo">
        <img src="./assets/image/effectIcon.png" alt="">
        <div class="tips">您获得2次活动机会</div>
      </div>
    </div>
    <div class="effectList">
      <div class="personImgBox">
        <img src="./assets/image/girl.png" alt="">
      </div>
      <div class="context">
        <span class="name">林凡</span>
        <span>2018年10月27日</span>
        <span>因您而更美</span>
      </div>
      <div class="rightInfo">
        <img src="./assets/image/effectIcon.png" alt="">
        <div class="tips">您获得2次活动机会</div>
      </div>
    </div>
    <div class="effectList">
      <div class="personImgBox">
        <img src="./assets/image/girl.png" alt="">
      </div>
      <div class="context">
        <span class="name">林凡</span>
        <span>2018年10月27日</span>
        <span>因您而更美</span>
      </div>
      <div class="rightInfo">
        <img src="./assets/image/effectIcon.png" alt="">
        <div class="tips">您获得2次活动机会</div>
      </div>
    </div>
    <div class="effectList">
      <div class="personImgBox">
        <img src="./assets/image/girl.png" alt="">
      </div>
      <div class="context">
        <span class="name">林凡</span>
        <span>2018年10月27日</span>
        <span>因您而更美</span>
      </div>
      <div class="rightInfo">
        <img src="./assets/image/effectIcon.png" alt="">
        <div class="tips">您获得2次活动机会</div>
      </div>
    </div>
    <div class="effectList">
      <div class="personImgBox">
        <img src="./assets/image/girl.png" alt="">
      </div>
      <div class="context">
        <span class="name">林凡</span>
        <span>2018年10月27日</span>
        <span>因您而更美</span>
      </div>
      <div class="rightInfo">
        <img src="./assets/image/effectIcon.png" alt="">
        <div class="tips">您获得2次活动机会</div>
      </div>
    </div>
    <div class="effectList">
      <div class="personImgBox">
        <img src="./assets/image/girl.png" alt="">
      </div>
      <div class="context">
        <span class="name">林凡</span>
        <span>2018年10月27日</span>
        <span>因您而更美</span>
      </div>
      <div class="rightInfo">
        <img src="./assets/image/effectIcon.png" alt="">
        <div class="tips">您获得2次活动机会</div>
      </div>
    </div>
  </div>
  <div class="luckBox">
    <div class="luckHead">
      <div class="wordShow">幸运时刻</div>
      <div class="wordShow">幸运值</div>
    </div>
    <div class="luckList">
      <div class="wordShow">2018-10-28</div>
      <div class="wordShow yellowColor">58</div>
    </div>
    <div class="luckList">
      <div class="wordShow">2018-10-28</div>
      <div class="wordShow yellowColor">58</div>
    </div>
    <div class="luckList">
      <div class="wordShow">2018-10-28</div>
      <div class="wordShow yellowColor">58</div>
    </div>
    <div class="luckList">
      <div class="wordShow">2018-10-28</div>
      <div class="wordShow yellowColor">58</div>
    </div>

  </div>
</div>
