<div class="kanjiabox">
  <!--<div *ngFor="let item of timedata">-->
    <!--{{item.timer}}-->
  <!--</div>-->
  <div class="backicon"  (click)="back()">
    <img src="./assets/image/kanjia/back.png" alt="">
  </div>
  <div class="huodongguize" (click)="showshuoming=true"></div>
  <img src="./assets/image/kanjia/head.png" alt="">
  <div class="kanboxbig" style="margin-top: -1.9rem">
    <div class="kanbox" *ngFor="let item of kanlist" >
      <div class="prodinfo" [routerLink]="['/kjfaqi', {'setid': item.activitySetupId, 'frombargainId': item.id}]">
        <div class="leftimg" >
          <img [src]="item.skuPic" alt="">
        </div>
        <div class="rightbox">
          <div class="text">{{item.skuName}}</div>
          <div class="decs">
            <div class="s1">￥{{item.skuPrice}}</div>
            <div class="s2" *ngIf="item.addOrder==0">{{item.timer}}后砍价过期</div>
          </div>
        </div>
      </div>
      <div class="detailbox">
        <div class="lefttext">
          共 <span>{{item.count}}</span> 人已砍<span>{{item.hasBargainMoney}}</span>元 &nbsp;&nbsp;&nbsp;&nbsp;现价 <span>{{item.skuPrice*1 - item.hasBargainMoney*1}}</span> 元
        </div>
        <div class="rightbtn" (click)="showxiadanbox=true;detailInfo=item" *ngIf="item.addOrder!=2">去下单</div>
        <div class="rightbtn" [routerLink]="['/orderdetail', {id: item.orderId}]" *ngIf="item.addOrder==2">查看订单</div>
      </div>
    </div>
  </div>

</div>
<div *ngIf="showxiadanbox" class='blackBg'></div>
<div *ngIf="showxiadanbox" class='luckConBox' style="background: #FFF;height: 4rem;justify-content: flex-start;margin-top: -2.5rem;z-index: 9999">
  <div class="textBox" style="margin-top: 0.65rem;    font-size: .3rem;
    color: #000;">
    是否确认结束本次砍价，马上下单购买？
  </div>
  <div class="sureBtn" style="border: 1px solid #d8d8d8;border-radius: 5px;"  (click)="showxiadanbox = false">再等等</div>
  <div class="sureBtn" style="border: 1px solid #d8d8d8;border-radius: 5px;bottom: 1.6rem;color: #deb95f;"  (click)="payFn()">我要去下单</div>
</div>
<div class='blackBg' *ngIf="showshuoming"></div>
<div class='luckConBox' *ngIf="showshuoming" style="width: 82%;height:auto;justify-content: flex-start;margin-top: 0;top: 1rem;margin-left:-41%;z-index: 9999">
  <img src="./assets/image/kanjia/smbg.png" style="width: 100%;position: absolute;z-index: -1;left: 0;top:0" alt="">
  <div class="textBox" style="font-size: 85%; color: #3f3331;text-align: left;padding: .5rem;">
    <p>1.	活动时间2019年X月X日-2019年X年X日；</p>
    <p>2.	砍价活动为春鸟粉丝专享，添加公众号进入春鸟线上平台即可参与；</p>
    <p>3.	所有春鸟粉丝均可在平台中任意选择科技美容服务进入砍价活动页面发起砍价；</p>
    <p>4.	粉丝可通过微信群、朋友圈分享砍价活动页面给好友助力砍价，将商品砍至一定金额（最低可砍至0元）；</p>
    <p>5.	同一时间只能发起一个砍价活动，在该活动结束或成交后，可再次发起其他服务的砍价活动；</p>
    <p>6.	发起砍价用户 将可以通过砍价活动，获得最终砍价后的优惠价格购买该服务的权限；</p>
    <p>7.	用户通过砍价后购买的服务需在30天内在就近门店进行核销使用，逾期未核销视为自动放弃，购买服务的实付金额将在订单过期后原路退回；</p>
    <p>8.	好友助力砍价只可为砍价发起者发起的单次砍价活动进行一次助力，重复砍价无效；</p>
    <p>9.	同一好友可为同一砍价发起者累计砍价服务不超过3次，超出次数砍价无效；</p>
    <p>10.	好友砍价为随机金额，助力者越多，累计砍掉金额越高；</p>
    <p>11.	活动期间一切价格以平台实际价格为准，在服务环节中均不存在隐形消费，敬请监督！</p>
    <p>12.	咨询和投诉电话：400-6886-525</p>
    <p>13.	本活动秉承公平公正原则，严禁作弊，一经发现春鸟有权取消其已获得的优惠权限。</p>
  </div>
  <div style="width: .5rem;height: .5rem;border-radius: .5rem;line-height: .5rem;position: absolute;right: .4rem;top: .3rem;" (click)="showshuoming = false"></div>
</div>
<app-alertbox></app-alertbox>
