<img class="headBg" src="./assets/image/teacherHead.png" alt="">
<div class="teacherBox">
  <div class="teacherShow">
    <img class="teacherConBg" src="./assets/image/teacherBird.png" alt="">
    <div class="teacherCon">
      <div class="teacherInfo">
        <div class="pimgs">
          <div class="round1">
            <div class="round2">
              <img class="teacherConBg" src="./assets/image/headimg.png" alt="">
            </div>
          </div>
        </div>
        <div class="pname">贾超超</div>
        <div class="ptitle">北大皮肤管理学博士</div>
        <div class="ptel">13910260215</div>
      </div>
      <div class="btnIconBox">
        <img  src="./assets/image/sao.png" alt="">
      </div>
      <div class="line"></div>
      <div class="btnIconBox">
        <img  src="./assets/image/chuan.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="setBox">
  <div class="heads">
    <img src="./assets/image/setting.png" alt="">
  </div>
  <div class="setBoxShow">
    <div *ngIf="!showQr" class="setNumerBox">
      <div class="lists">
        <span>折扣设置</span>
        <input type="number" placeholder="请输入文字">
        <span>%</span>
      </div>
      <div class="lists" style="margin-bottom: 0.1rem;">
        <span>现金设置</span>
        <input type="number" placeholder="请输入文字">
        <span>元</span>
      </div>
    </div>
    <div *ngIf="!showQr" class="setIconBtn" (click)="getQrFn()">
      <img src="./assets/image/setQRIcon.png" alt="">
    </div>
    <img *ngIf="showQr" class="qrBg" src="./assets/image/qrBg.png" alt="">
    <div *ngIf="showQr" class="qrBox">
      <div class="qrBoxCon">
        <img src="./assets/image/qrEx.png" alt="">
      </div>
    </div>
  </div>
</div>
