<div class="con">
  <div class="headSwiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of detailInfo.goodsInfo.mainPhotoAddr">
          <img [src]="item" alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="priceTitle">
    ￥{{(choseSku== ''?(priceArr[0]+'-'+priceArr[priceArr.length-1]):(choseSku.price| number:'2.2-2')) }}
  </div>
  <div class="styleChoseBox chose1">
    <div class="heads">
      部位选择
    </div>
    <div class="choseTips">
      <div *ngFor="let item of detailInfo.skuSpec" (click)="selIt(item,detailInfo.skuSpec,'spec')" [class.tipsel]="item.ischecked" class="tips">{{item.name}}</div>
    </div>
  </div>
  <div class="styleChoseBox chose2" style="min-height: 1.6rem;margin-top: 2px">
    <div class="heads">
      疗程选择
    </div>
    <div class="choseTips">
      <div *ngFor="let item of detailInfo.skuStyle" (click)="selIt(item,detailInfo.skuStyle,'style')" [class.tipsel]="item.ischecked" class="tips spec">{{item.name}}</div>
    </div>
  </div>
  <div class="protect">
    <div class="lists">
      <img class="protectIcon1" src="./assets/image/protect1.png" alt="">
      <span>安全保障非手术类</span>
    </div>
    <div class="lists">
      <img class="protectIcon2" src="./assets/image/protect2.png" alt="">
      <span>春鸟统一服务</span>
    </div>
    <div class="lists">
      <img class="protectIcon3" src="./assets/image/protect3.png" alt="">
      <span>无效退款</span>
    </div>
  </div>
  <div class="bigBox">
    <div class="head" [class.fixed]="fixed">
      <div [class.selit]="showWhitchStatus==1" class="headlist" (click)="showWitch(1,$event)">详情</div>
      <div [class.selit]="showWhitchStatus==2" class="headlist" (click)="showWitch(2,$event)">科普</div>
      <div [class.selit]="showWhitchStatus==3" class="headlist" (click)="showWitch(3,$event)">Q&A</div>
      <div [class.selit]="showWhitchStatus==4" class="headlist" (click)="showWitch(4,$event)">承诺</div>
    </div>
    <div class="head" *ngIf="fixed"></div>
    <div class="boxShow">
      <div  class="boxShowlist boxShowlist1">
        <img class="justimg" [src]="detailInfo['goodsInfo']['serviceInfo'][0]" alt="">
        <div class="justimg"  style="position: relative;">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of detailInfo.goodsInfo.serviceCase" >
                <img [src]="item" alt="">
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        <img class="justimg" [src]="detailInfo['goodsInfo']['serviceInfo'][1]" alt="">
      </div>
      <div  class="boxShowlist boxShowlist2">
        <img *ngFor="let item of detailInfo['goodsInfo']['scienceInfo']" class="justimg" [src]="item" alt="">
      </div>
      <div  class="boxShowlist boxShowlist3">
        <img *ngFor="let item of detailInfo['goodsInfo']['qaInfo']" class="justimg" [src]="item" alt="">
      </div>
      <div  class="boxShowlist boxShowlist4">
        <img *ngFor="let item of detailInfo['goodsInfo']['commitmentInfo']" class="justimg" [src]="item" alt="">
      </div>
    </div>
  </div>
</div>
<div class="priceBar">
  <div class="price">￥ {{(choseSku.price?(choseSku.price):0)*1| number }}</div>
  <div class="navbarList"  [routerLink]="['/cart']" >
    <div class="numbers">{{cartNum}}</div>
    <img class="car"  src='./assets/image/carSel.png' alt="">
    <div class="text">购物车</div>
  </div>
  <div class="addCarBtn"  (click)="cartAdd()" >加入购物车</div>
  <div class="payBtn"  (click)="goPaysure()">立即购买</div>
</div>
<div class="kantip" [routerLink]="['/kjfaqi', {'setid': choseSku.activitySetupId}]" *ngIf="choseSku.bargainBoolean">
  砍
</div>

<app-alertbox></app-alertbox>
