.con{
  width: 100%;
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}
.headSwiper{
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #000;
}
.headSwiper .swiper-container {
  width: 100%;
  height: 5rem;
}
.headSwiper .swiper-slide img{
  width: 100%;
  height: 5rem;
}

.headSwiper .swiper-pagination-fraction{
  width: auto !important;
  right: 0.3rem;
  bottom: 0.25rem;
  background: #FFF;
  padding: 0.08rem;
  left: unset;
  border-radius: 0.1rem;
  font-size: 0.18rem;
}
.priceTitle{
  width: 100%;
  height: 1rem;
  background: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #deb95f;
  font-size: 0.36rem;
  text-indent: 0.4rem;
}
.styleChoseBox{
  width: 100%;
  min-height: 2.15rem;
  margin-top: 0.1rem;
  background: #FFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.1rem;
}
.styleChoseBox .heads{
  width: 100%;
  color: #555555;
  font-size: 0.2rem;
  line-height: 0.2rem;
  margin-top: 0.25rem;
  text-indent: 0.35rem;
}
.styleChoseBox .choseTips{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  padding-right: 0.1rem;
}
.styleChoseBox .choseTips .tips{
  padding: 0.06rem 0.35rem;
  border: 1px solid #555555;
  color: #555555;
  text-align: center;
  font-size: 0.24rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}
.tipsel{
  border: 1px solid #efcd83 !important;
  background: #efcd83 !important;
  color: #FFF !important;
}

.styleChoseBox .choseTips .spec{
  width: 2.78rem;
  height: 0.48rem;
}
.protect{
  width: 100%;
  height: 1.15rem;
  background: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.1rem;
}
.protect .lists{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.protect  .protectIcon1{
  width: 0.34rem;
  height: 0.43rem;
}
.protect  .protectIcon2{
  width: 0.4rem;
  height: 0.45rem;
}
.protect  .protectIcon3{
  width: 0.43rem;
  height: 0.4rem;
}
.protect .lists span{
  color: #555555;
  font-size: 0.24rem;
  margin-left: 0.15rem;
}
.bigBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.1rem;
}
.bigBox .head{
  width: 100%;
  height: 1.15rem;
  background: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bigBox .headlist{
  width: 0.9rem;
  height: 1.05rem;
  border-bottom: 0.1rem solid #FFF;
  text-align: center;
  color: #555555;
  font-size: 0.24rem;
  line-height: 1.05rem;
}
.boxShow{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.boxShowlist{
  width: 100%;
  min-height: 12rem;
  text-align: center;
  position: relative;
}
.boxShowlist .justimg{
  width: 100%;
}
.selit{
  border-bottom: 0.1rem solid #efcd83 !important;
}
.priceBar{
  width: 100%;
  height: 1rem;
  background: #FFF;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.priceBar .price{
  width: 30%;
  height: 100%;
  line-height: 1rem;
  color: #deb95f;
  font-size: 0.36rem;
  text-indent: 0.45rem;

}
.priceBar .addCarBtn{
  width: 27%;
  height: 100%;
  line-height: 1rem;
  color: #555555;
  font-size: 0.30rem;
  text-align: center;
}
.priceBar .payBtn{
  width: 27%;
  height: 100%;
  line-height: 1rem;
  color: #FFF;
  font-size: 0.30rem;
  background: #efcd83;
  text-align: center;
}


.navbarList{
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0.01rem solid #eeeeee;
  position: relative;
}

.navbarList .numbers{
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.3rem;
  border: 2px solid #ff0000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.18rem;
  color: #ff0000;
  position: absolute;
  right: 0.15rem;
  top: 0rem;
  background: #FFF;
  z-index: 3;
}
.navbarList .text{
  font-size: 0.2rem;
  margin-top:0.1rem;
}
.car{
  width: 0.40rem;
  height: 0.41rem;
}

/**/
.boxShow .swiper-container {
  width: 7rem;
  height: 3.6rem;
  border-radius: 0.1rem;
  background: #FFF;
  position: absolute;
  left: 50%;
  margin-left: -3.5rem;
  top: 9rem;
  z-index: 3;
}
.boxShow .swiper-container img{
  width: 100%;
  height: 100%;
}
.boxShow  .swiper-pagination{
  height: 0.5rem;
  background: #ff702a;
  bottom: 0px !important;
}

