<div class="con">
  <div class="headSwiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./assets/image/example1.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="./assets/image/example2.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="./assets/image/example3.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="./assets/image/example4.png" alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="priceTitle">
    ￥12800-49800
  </div>
  <div class="styleChoseBox">
    <div class="heads">
      部位选择
    </div>
    <div class="choseTips">
      <div class="tips">腋下</div>
      <div class="tips">唇边</div>
      <div class="tips">发际</div>
      <div class="tips">胳膊</div>
      <div class="tips">胳膊</div>
      <div class="tips">深度清洁</div>
      <div class="tips">蝴蝶袖</div>
      <div class="tips">臀部</div>
      <div class="tips">小腹</div>
    </div>
  </div>
  <div class="styleChoseBox" style="min-height: 1.6rem;margin-top: 2px">
    <div class="heads">
      疗程选择
    </div>
    <div class="choseTips">
      <div class="tips spec">单次</div>
      <div class="tips spec">套餐（三次/疗程）</div>
    </div>
  </div>
</div>


