<div class="headBox">
  <div class="head">
    <div class="searchBox"></div>
    <div class="searchBoxText">
      <img class="icon" src="./assets/image/location.png" alt="">
      <span class="name">春鸟皮肤管理中心顺义天美1店</span>
      <span class="arrow">></span>
    </div>
  </div>
  <img class="headBg" src="./assets/image/headBg.png" alt="">
  <div class="headSwiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./assets/image/example.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="./assets/image/example.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="./assets/image/example.png" alt="">
        </div>
      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="payBox" [routerLink]="['../**']">
    <img src="./assets/image/payIcon.png" alt="">
  </div>
</div>
<img class="coffeIcon" src="./assets/image/coffe.png" alt="">

<div class="sideScrollBox">
  <div class="heads">
    <img src="./assets/image/sideScrollBoxHead.png" alt="">
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" [routerLink]="['../detail']">
        <img src="./assets/image/jx1.png" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./assets/image/jx2.png" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./assets/image/jx3.png" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./assets/image/jx4.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="tiyanBox">
  <img src="./assets/image/newperson.png" alt="">
</div>

<div class="serveBox">
  <!--<div class="heads">-->
    <!--<img src="src/assets/image/serveBoxHead.png" alt="">-->
    <!--<div class="moreBtn">MORE</div>-->
  <!--</div>-->
  <div class="serveList"></div>
  <div class="serveList"></div>
  <div class="serveList"></div>
</div>

