<div style="margin-bottom: 1.3rem">
  <div class="headBox">
    <div class="head">
      <div class="searchBox"></div>
      <div class="searchBoxText"  [routerLink]="['/address', 'have']">
        <img class="icon" src="./assets/image/location.png" alt="">
        <span class="name">{{storeInfo.name}}</span>
        <span class="arrow">></span>
      </div>
    </div>
    <img class="headBg" src="./assets/image/headBg.png" alt="">
    <div class="headSwiper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div *ngFor="let item of carouselarr" class="swiper-slide" (click)="carouselGoto(item)" >
            <img  src="{{item.imgs}}" alt="">
          </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="payBox" [routerLink]="['/justpay', {'allMoney': 0, 'orderNo': '', 'from':'index'}]">
      <img src="./assets/image/payIcon.png" alt="">
    </div>
  </div>

  <div class="sideScrollBox">
    <div class="heads">
      <img src="./assets/image/sideScrollBoxHead.png" alt="">
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div *ngFor="let item of carefullyarr let i = index" class="swiper-slide" (click)="goDetail(item.id)">
          <img src="{{item.imgs}}" alt="">
        </div>
        <div class="swiper-slide" style="width: 0;border: 0"></div>
      </div>
    </div>
  </div>
  <div class="tiyanBox" [routerLink]="['/newergif', 5]">
    <img src="./assets/image/newperson.png" alt="">
  </div>

  <div class="serveBox">
    <div *ngFor="let person of personIntroduce " class="serveList">
      <div class="servehead">
        <div class="line"></div>
        <div class="headImg">
          <img src="{{person.headIcon}}" alt="">
        </div>
        <div class="person">
          <span class="name">{{person.name}}</span>
          <span class="tips">{{person.title}}</span>
        </div>
      </div>
      <div class="headTips">
        <img src="./assets/image/indexTips.png" alt="">
        <div class="text">{{person.serviceType}}</div>
      </div>
      <div class="exImg">
        <div class="exlist" *ngFor="let imgs of person.casePictureArr">
          <div class="listsc">
            <img *ngIf="imgs.before!=''" src="{{imgs.before}}" (click)="showLook(imgs.beforebig)" alt="">
            <p *ngIf="imgs.before==''">服务前</p>
          </div>
          <div class="listsc">
            <img *ngIf="imgs.before!=''" src="{{imgs.after}}" (click)="showLook(imgs.afterbig)" alt="">
            <p *ngIf="imgs.before==''">服务前</p>
          </div>
        </div>
      </div>
      <p class="declist">会员年龄：{{person.memberAge}}岁</p>
      <p class="declist">服务项目：{{person.serviceProject}}</p>
      <p class="declist">实际效果：{{person.describedResults}}</p>
    </div>
  </div>
</div>


<div class="gotop" *ngIf="showGotopBtn">
  <a href="#">
    <img src="./assets/image/gotop.png" alt="">
  </a>
</div>
<div class="kefu" routerLink="/teacher" *ngIf="isManager">
  <img src="./assets/image/kefu.png" alt="">
</div>

<div class="lookBox" *ngIf="lookImgUrl!=''">
  <div class="middleBox" >
    <img  [src]="lookImgUrl">
  </div>
  <div class="sureBtn" (click)="lookImgUrl=''">X</div>
</div>

<app-alertbox></app-alertbox>
