<div class="head">
  <div class="searchBox">
    <img src="src/assets/image/location.png" alt="">
    <span class="name">春鸟皮肤管理中心顺义天美1店</span>
  </div>
</div>
<div class="headSwiper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
  </div>
</div>

<img class="coffeIcon" src="src/assets/image/coffe.png" alt="">
<div class="payBox" [routerLink]="['../**']">
  <img src="src/assets/image/payIcon.png" alt="">
</div>
<div class="sideScrollBox">
  <div class="heads">
    <img src="src/assets/image/sideScrollBoxHead.png" alt="">
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
    </div>
  </div>
</div>
<div class="tiyanBox">

</div>

<div class="serveBox">
  <!--<div class="heads">-->
    <!--<img src="src/assets/image/serveBoxHead.png" alt="">-->
    <!--<div class="moreBtn">MORE</div>-->
  <!--</div>-->
  <div class="serveList"></div>
  <div class="serveList"></div>
  <div class="serveList"></div>
</div>

