.blackBg{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0;
  bottom: 0;
  z-index: 990;
  background: #000;
  opacity: 0.3;
}
.loadBox{
  width: 4rem;
  height: 2.2rem;
  background: #FFF;
  position: fixed;
  z-index: 999;
  left: 50%;
  margin-left: -2rem;
  top: 50%;
  margin-top: -1.1rem;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  border-radius: 0.2rem;
}
.loadBox img{
  width: 0.32rem;
  height: 0.32rem;
  margin-top: -0.1rem;
}
.loadBox .title{
  font-size: 0.3rem;
  margin-left: 0.15rem;
  margin-top: -0.1rem;
}

.closeBtn{
  width: 1.2rem;
  height: 0.5rem;
  border-radius: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.2rem;
  position: absolute;
  bottom: 0.15rem;
  left: 50%;
  margin-left: -0.6rem;
  background: #efcd83;
  color: #FFF;
}

.luckConBox{
  width: 6rem;
  height: 5rem;
  position: fixed;
  z-index: 999;
  left: 50%;
  margin-left: -3rem;
  top: 50%;
  margin-top: -2.5rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  border-radius: 0.2rem;
  text-align: center;
  background: #d94839;
  padding: 3em;
  color: #FFF;
}

.luckConBox h1{
  font-size: 0.42rem;
  line-height: 1.3rem;
  margin: 0;
  font-weight: 300;
}
.luckConBox h1 span{
  display: block;
  font-size: 50%;
  opacity: 0.7;
  padding: 0 0 0.6em 0.1em;
}
.luckConBox .sureBtn{
  width: 2rem;
  height: 0.8rem;
  border-radius: 0.05rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.25rem;
  position: absolute;
  bottom: 0.15rem;
  left: 50%;
  margin-left: -1rem;
  background: #FFF;
  color: #333;
}
