<div *ngIf="alertShow" class='blackBg'></div>
<div *ngIf="alertShow" class='loadBox'>
  <img *ngIf="whichStatus=='loading'" src='./assets/image/loading.gif' />
  <img *ngIf="whichStatus=='error'" src='./assets/image/error.png' />
  <img *ngIf="whichStatus=='success'" src='./assets/image/success.png' />
  <div class='title'>{{alertMessage}}</div>
  <div *ngIf="whichStatus=='error'" class="closeBtn" (click)="alertShow=false">确 定</div>
</div>

<div *ngIf="luckDrawShow" class='blackBg'></div>
<div *ngIf="luckDrawShow" class='drwaBox' style="background: none;">
  <img id="gifimg" src="./assets/image/openbox.gif" alt="">
</div>

<div *ngIf="luckConShow" class='blackBg'></div>
<div *ngIf="luckConShow" class='luckConBox'>
  <img class="bg" src="./assets/image/drawSuccess.png" alt="">
  <h1>
    {{luckConShowMoney}}元美丽金
    <span>奖金将在三个工作日内退回您订单支付账户</span>
  </h1>
  <div class="sureBtn"  (click)="sureFn()"></div>
</div>


<div *ngIf="drawerrorShow" class='blackBg'></div>
<div *ngIf="drawerrorShow" class='luckErroBox'>
  <img class="luckdawCloseBtn" (click)="sureFn()" src="./assets/image/luckdawCloseBtn.png" alt="">
  <img class="bg" src="./assets/image/luckdawAlertBg.png" alt="">
  <div class="sureBtn"  (click)="goshareFn()">分享美丽，邀请好友</div>
</div>
