<div *ngIf="alertShow" class='blackBg'></div>
<div *ngIf="alertShow" class='loadBox'>
  <img *ngIf="whichStatus=='loading'" src='./assets/image/loading.gif' />
  <img *ngIf="whichStatus=='error'" src='./assets/image/error.png' />
  <img *ngIf="whichStatus=='success'" src='./assets/image/success.png' />
  <div class='title'>{{alertMessage}}</div>
  <div *ngIf="whichStatus=='error'" class="closeBtn" (click)="alertShow=false">确 定</div>
</div>

<div *ngIf="luckDrawShow" class='blackBg'></div>
<div *ngIf="luckDrawShow" class='drwaBox' style="background: none;">
  <img id="gifimg" src="./assets/image/openbox.gif" alt="">
</div>

<div *ngIf="luckConShow" class='blackBg'></div>
<div *ngIf="luckConShow" class='luckConBox'>
  <img class="bg" src="./assets/image/drawSuccess.png" alt="">
  <h1>
    {{luckConShowMoney}}元美丽金
    <span>奖金将在三个工作日内退回您订单支付账户</span>
  </h1>
  <div class="sureBtn"  (click)="sureFn()"></div>
</div>


<div *ngIf="drawerrorShow" class='blackBg'></div>
<div *ngIf="drawerrorShow" class='luckErroBox'>
  <img class="luckdawCloseBtn" (click)="sureFn()" src="./assets/image/luckdawCloseBtn.png" alt="">
  <img class="bg" src="./assets/image/luckdawAlertBg.png" alt="">
  <div class="sureBtn"  (click)="goshareFn()">分享美丽，邀请好友</div>
</div>

<div *ngIf="chosepay" class='blackBg'></div>
<div *ngIf="chosepay" class='luckConBox' style="background: #FFF;height: 5rem;justify-content: flex-start;margin-top: -2.5rem">
  <div class="textBox" style="margin-top: 0.65rem">
    <span style="font-size: 0.3rem">请选择支付方式：</span>
    <div class="cheapBoxbig">
      <div class="cheapBox" *ngIf="(orderAmountPayable*1)<=3000" (click)="chosetype='微信'">
        <span class="name"></span>
        <div class="name" >
          <img style="width: 0.37rem;height: 0.32rem;margin-left: 0;margin-right: 0.1rem" src="./assets/image/wechartIcon.png" alt="">
          微信支付&nbsp;&nbsp;（限0～3000元以下）
          <div class="noselRaido raidoSelit left30">
            <div [class.shi]="chosetype=='微信'" class="kong"></div>
          </div>
        </div>
      </div>
      <div class="cheapBox" *ngIf="(orderAmountPayable*1)<=20000" (click)="chosetype='银联'">
        <span class="name"></span>
        <div class="name" >
          <img style="width: 0.37rem;height: 0.24rem;margin-left: 0.2rem;margin-right: 0.1rem" src="./assets/image/uniony.png" alt="">
          银联支付（限0～20000元以下）
          <div class="noselRaido raidoSelit left30">
            <div [class.shi]="chosetype=='银联'" class="kong"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sureBtn" style="border: 1px solid #d8d8d8;border-radius: 5px;bottom: 1.6rem;color: #deb95f;"  (click)="chosepaysureFn()">确认支付</div>
  <div class="sureBtn" style="border: 1px solid #d8d8d8;border-radius: 5px;"  (click)="close()">取消</div>
</div>



