.qRcodeTitle{
  width: 100%;
  height: 0.85rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.qRcodeTitle img{
  width: 0.34rem;
  height: 0.34rem;
  margin-right: 0.25rem;
}
.con{
  width: 100%;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 1rem;
}
.shopInfoBox{
  width: 100%;
  height: 1.62rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.shopInfoBox .bg{
  width: 100%;
  height: 1.62rem;
}
.shopInfoCon{
  width: 100%;
  height: 1.62rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
}
.shopInfoCon .text{
  color: #dab57b;
  font-size: 0.22rem;
  margin-left: 0.28rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 6rem;
}
.shopInfoCon .text img{
  width: 0.29rem;
  height: 0.25rem;
  margin-right: 0.05rem;
}
.shopInfoBox .editShop{
  position: absolute;
  z-index: 3;
  font-size: 0.22rem;
  color: #e7e7e7;
  top: 50%;
  margin-top: -0.1rem;
  right: 0.25rem;
}
.fz25{
  font-size: 0.25rem !important;
}
.userInfo{
  width: 100%;
  height: 2.1rem;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userInfo .tips{
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.15rem;
}
.userInfo .tips .s1{
  color: #f27442;
  font-size: 0.24rem;
}
.userInfo .tips .s2{
  color: #f27442;
  font-size: 0.22rem;
}
.userInfo .inputBox{
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.15rem;
  justify-content: space-around;
}
.userInfo .inputBox span{
  color: #333333;
  font-size: 0.26rem;
}
.userInfo .inputBox input{
  width: 80%;
  height: 0.58rem;
  border-radius: 0.1rem;
  border: 1px solid #e7cd94;
  font-size: 0.28rem;
  text-indent: 0.1rem;
}

.mainBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  border-top: 0.15rem solid #ccc;
}
.mainBox .tips{
  width: 95%;
  color: #f27442;
  font-size: 0.24rem;
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}
.mainBox .productList{
  width: 95%;
  height: 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 0.15rem;
}
.mainBox .productList .productImg{
  width: 1.4rem;
  height: 1.4rem;
  background: #eeeeee;
  border-radius: 0.05rem;
  overflow: hidden;
}
.mainBox .productList .productImg img{
  width: 1.4rem;
  height: 1.4rem;
}

.textBox{
  width: 95%;
  height: 0.6rem;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #737373;
  font-size: 0.22rem;
}
.textBox .cheapBox{
  width: 5.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.textBox .cheapBox .name{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f27442;
  font-size: 0.24rem;
  line-height: 0.24rem;
}
.textBox .cheapBox .name img{
  width: 0.24rem;
  height: 0.24rem;
  margin-left: 0.2rem;
}
.memoBox{
  width: 95%;
  height: 1.48rem;
  border-radius: 0.1rem;
  border: 1px solid #e5e5e5;
  color: #737373;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  resize: none;
  font-size: 0.20rem;
  padding: 0.1rem;
}
.priceBar{
  width: 100%;
  height: 1rem;
  background: #FFF;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 0.1rem solid #ccc;

}
.priceBar .price{
  width: 73%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.priceBar .price .s1{
  color: #737373;
  font-size: 0.28rem;
  margin-left: 0.35rem;
  margin-top: 0.1rem;
}
.priceBar .price .s2{
  color: #333333;
  font-size: 0.46rem;
  margin-right: 0.2rem;
}

.priceBar .payBtn{
  width: 27%;
  height: 100%;
  line-height: 1rem;
  color: #FFF;
  font-size: 0.30rem;
  background: #efcd83;
  text-align: center;
}

.mainBox  .productIndec{
  width: 2.9rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: -1.1rem;
}
.mainBox  .productIndec .name{
  width: 100%;
  font-size: 0.24rem;
  color: #737373;
  word-break:break-all;
  word-wrap:break-word;
  line-height: 0.24rem;
}
.mainBox  .productIndec .classly{
  width: 100%;
  word-break:break-all;
  word-wrap:break-word;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.1rem;
}
.mainBox  .productIndec .classly .list{
  padding: 0 0.1rem;
  background: #f8f1df;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 0.1rem;
  font-size: 0.16rem;
  color: #deb95f;
}
.mainBox  .productIndec  .specBox{
  width: 100%;
  word-break:break-all;
  word-wrap:break-word;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.1rem;
}
.mainBox  .productIndec  .specBox span{
  font-size: 0.16rem;
  color: #f27442;
}

.mainBox  .rightBox .price{
  font-size: 0.28rem;
  color: #f27442;
  margin-bottom: 0.05rem;
}
.mainBox  .rightBox .number{
  font-size: 0.24rem;
  color: #737373;
  margin-top: 0.05rem;
}
.mainBox  .rightBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;
}

.topNavbar{
  width: 100%;
  height: 0.9rem;
  background: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.topNavbar .leftArrow{
  width: 0.26rem;
  height: 0.47rem;
  margin-left: 0.35rem;
}
.topNavbar .editBtn{
  width: 1.2rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #3c3c3c;
  font-size: 0.28rem;
}
