<div class="topNavbar">
  <img class="leftArrow" (click)="goback()" src="./assets/image/leftArrow.png" alt="">
  <img style="margin-right: 0.3rem;width: 0.34rem;height: 0.34rem" src="./assets/image/qRcodeIcon.png" *ngIf="fromData['from']=='shopcart'||fromData['from']=='detail'" (click)="sao()" alt="">
</div>
<div class="con">
  <div class="shopInfoBox">
    <img class="bg" src="./assets/image/paySureHeadBg.png" alt="">
    <div class="shopInfoCon">
      <div class="text fz25"><img src="./assets/image/shopIcon.png" alt="">{{paySureInfo.store.name}}</div>
      <div class="text">门店地址：{{paySureInfo.store.addr}}</div>
      <div class="text">营业时间：{{paySureInfo.store.businessHours}}</div>
      <div class="text">联系电话：{{paySureInfo.store.phone}}</div>
    </div>
    <div class="editShop" [routerLink]="['/address', {'status': 'have'}]">修 改 ></div>
  </div>
  <div class="userInfo">
    <div class="tips"><span class="s1">邀约信息：</span><span class="s2">（专属美容导师会及时与您沟通服务时间）</span></div>
    <div class="inputBox">
      <span>尊客姓名：</span><input type="text" maxlength="25" [(ngModel)]="order.linkman">
    </div>
    <div class="inputBox">
      <span>联系电话：</span><input type="tel" [(ngModel)]="order.subscribePhone">
    </div>
  </div>

  <div class="mainBox">
    <div class="tips">服务项目：</div>
    <div class="productList" *ngFor="let item of paySureInfo.cartDetail">
      <div class="productImg ml90">
        <img src="{{item.miniPhotoAddr}}" alt="">
      </div>
      <div class="productIndec">
        <div class="name">{{item.goodsName}}</div>
        <div class="classly">
          <div class="list">{{item.skuSpecName}}</div>
        </div>
        <div class="specBox">
          <span>{{item.skuStyleName}}</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="number">x{{item.number}}</div>
        <div class="price">￥{{item.price | number:'2.2-2'}}</div>
      </div>
    </div>
    <div class="textBox">
      <span>金额合计：</span><span>￥ {{allMoney | number:'2.2-2'}}</span>
    </div>
    <div class="textBox" style="border-bottom: 1px solid #e5e5e5 " >
      <span>优惠方式：</span>
      <div class="cheapBox">
        <span class="name">内购券优惠-{{discounts.advisorName}}</span>
        <div class="name">
          -{{order.discountPriceAmout}}元
          <img src="./assets/image/closeIcon.png" (click)="clearDiscount()" alt="">
        </div>
      </div>
    </div>
    <div class="textBox">
      <span>支付方式：</span>
      <div class="cheapBox">
        <span class="name"></span>
        <div class="name">
          <img style="width: 0.37rem;height: 0.32rem;margin-left: 0;margin-right: 0.1rem" src="./assets/image/wechartIcon.png" alt="">
          微信支付
        </div>
      </div>
    </div>
    <textarea maxlength="100" [(ngModel)]="order.orderRemark" placeholder="尊客备注：可输入您期望到店时间、或希望专属顾问何时与您联系等要求" class="memoBox"></textarea>
  </div>
</div>
<div class="priceBar">
  <div class="price">
    <span class="s1">应付金额:</span>
    <span class="s2">￥{{((allMoney*1 - order.discountPriceAmout*1)<0?0:(allMoney*1 - order.discountPriceAmout*1)) | number:'2.2-2'}}</span>
  </div>
  <div class="payBtn" (click)="payFn()" *ngIf="fromData.from!='zero'">立即支付</div>
  <div class="payBtn" (click)="payzeroFn()" *ngIf="fromData.from=='zero'">立即领取</div>
</div>


<app-alertbox></app-alertbox>
