<div class="qRcodeTitle">
  <img src="./assets/image/qRcodeIcon.png" alt="">
</div>
<div class="con">
  <div class="shopInfoBox">
    <img class="bg" src="./assets/image/paySureHeadBg.png" alt="">
    <div class="shopInfoCon">
      <div class="text fz25"><img src="./assets/image/shopIcon.png" alt="">春鸟皮肤管理中心顺义天美一店</div>
      <div class="text">门店地址：北京市顺义区XXXXXXX19号</div>
      <div class="text">营业时间：10:00-22:00</div>
      <div class="text">联系电话：13910250215</div>
    </div>
    <div class="editShop">修 改 ></div>
  </div>
</div>
