<div class="kanjiabox flexcol">
  <img src="./assets/image/kanjia/head2.jpg" alt="">
  <div class="headbox">
    <div class="headboximg">
      <img src="" alt="">
    </div>
    <div class="headname">小可爱</div>
  </div>
  <div class="fixedbox">
    活动规则 >
  </div>

  <div class="kanbox">
    <div class="prodinfo">
      <div class="leftimg">
        <img src="" alt="">
      </div>
      <div class="rightbox">
        <div class="text">【逆龄抗衰】天庭饱满：淡化抬头纹、川字 纹，紧致额头--单品</div>
        <div class="decs">
          <div class="s1">￥380.00</div>
          <div class="s2">23:59:59后砍价过期</div>
        </div>
      </div>
    </div>
    <div class="jindubox">
      <p>共1人已砍29.8元，还差359.8元</p>
      <div class="line">
        <div class="wcline"></div>
      </div>
    </div>
    <div class="kanbtn"  (click)="iskan = true">
      <div class="text">帮好友砍一刀</div>
      <img src="./assets/image/kanjia/btnbg.png" alt="">
    </div>
    <div class="kanbtn">
      <div class="text">与好友同享美，我也要发起砍价</div>
      <img src="./assets/image/kanjia/btnbg.png" alt="">
    </div>
    <div class="litterIcon">
      <img src="./assets/image/kanjia/littericon.png" alt="">
    </div>
  </div>

  <div class="kanfriendbox">
    <div class="greenyeIcon">
      <img src="./assets/image/kanjia/greenye.png" alt="">
    </div>
    <div class="changetitle">
      <div class="changetitlelist " [class.changetitlelistSel]="changetitle=='帮砍团'" (click)="changetitle = '帮砍团'">帮砍团</div>
      <div class="changetitlelist" [class.changetitlelistSel]="changetitle=='帮砍排行榜'" (click)="changetitle = '帮砍排行榜'">
        <span class="s1">砍价TOP20排行榜</span>
        <span class="s2">（共XXXX人已完成砍价）</span>
      </div>
    </div>
    <div class="kanfriendmain">
      <div class="friendlist">
        <div class="paixu" style="background: none !important;" *ngIf="changetitle=='帮砍团'"></div>
        <div class="paixu" *ngIf="changetitle=='帮砍排行榜'">TOP 1</div>
        <div class="headimg">
          <img src="" alt="">
        </div>
        <div class="name">小可爱</div>
        <img class="kanicon" src="./assets/image/kanjia/kanicon.png" alt="">
        <div class="kanmoney">共砍掉 <span>XX</span> 元</div>
      </div>
      <div class="friendlist">
        <div class="paixu" style="background: none !important;" *ngIf="changetitle=='帮砍团'"></div>
        <div class="paixu" *ngIf="changetitle=='帮砍排行榜'">TOP 1</div>
        <div class="headimg">
          <img src="" alt="">
        </div>
        <div class="name">小可爱</div>
        <img class="kanicon" src="./assets/image/kanjia/kanicon.png" alt="">
        <div class="kanmoney">共砍掉 <span>XX</span> 元</div>
      </div>
      <div class="friendlist">
        <div class="paixu" style="background: none !important;" *ngIf="changetitle=='帮砍团'"></div>
        <div class="paixu" *ngIf="changetitle=='帮砍排行榜'">TOP 1</div>
        <div class="headimg">
          <img src="" alt="">
        </div>
        <div class="name">小可爱</div>
        <img class="kanicon" src="./assets/image/kanjia/kanicon.png" alt="">
        <div class="kanmoney">共砍掉 <span>XX</span> 元</div>
      </div>
      <div class="friendlist">
        <div class="paixu" style="background: none !important;" *ngIf="changetitle=='帮砍团'"></div>
        <div class="paixu" *ngIf="changetitle=='帮砍排行榜'">TOP 1</div>
        <div class="headimg">
          <img src="" alt="">
        </div>
        <div class="name">小可爱</div>
        <img class="kanicon" src="./assets/image/kanjia/kanicon.png" alt="">
        <div class="kanmoney">共砍掉 <span>XX</span> 元</div>
      </div>
      <div class="friendlist">
        <div class="paixu" style="background: none !important;" *ngIf="changetitle=='帮砍团'"></div>
        <div class="paixu" *ngIf="changetitle=='帮砍排行榜'">TOP 1</div>
        <div class="headimg">
          <img src="" alt="">
        </div>
        <div class="name">小可爱</div>
        <img class="kanicon" src="./assets/image/kanjia/kanicon.png" alt="">
        <div class="kanmoney">共砍掉 <span>XX</span> 元</div>
      </div>
      <div class="friendlist">
        <div class="paixu" style="background: none !important;" *ngIf="changetitle=='帮砍团'"></div>
        <div class="paixu" *ngIf="changetitle=='帮砍排行榜'">TOP 1</div>
        <div class="headimg">
          <img src="" alt="">
        </div>
        <div class="name">小可爱</div>
        <img class="kanicon" src="./assets/image/kanjia/kanicon.png" alt="">
        <div class="kanmoney">共砍掉 <span>XX</span> 元</div>
      </div>
    </div>
  </div>

  <div class="indecbox">
    <img class="indecimg" style="margin-top: .2rem" src="./assets/image/kanjia/indec1.png" alt="">
    <div class="tree1">
      <img src="./assets/image/kanjia/tree1.png" alt="">
    </div>
  </div>
  <div class="bigkanbox">
    <div class="bigkanlist">
      <img src="./assets/image/kanjia/kanlist1.png" alt="">
    </div>
    <div class="bigkanlist">
      <img src="./assets/image/kanjia/kanlist2.png" alt="">
    </div>
    <div class="bigkanlist">
      <img src="./assets/image/kanjia/kanlist3.png" alt="">
    </div>
    <div class="bigkanlist">
      <img src="./assets/image/kanjia/kanlist4.png" alt="">
    </div>
  </div>
  <div class="erweibox">
    <img class="erweibg" src="./assets/image/kanjia/erweibg.png" alt="">
    <img class="erweima" src="./assets/image/gongzhongerwei.jpeg" alt="">
  </div>

</div>
<div class="loadBox" style="display: none">
  <img  src='./assets/image/loading.gif' /> 努力加载中...
</div>
<div class="kanresult" *ngIf="iskan">
  <img src="./assets/image/kanjia/kanresultbox.png" alt="">
  <div class="kanresulthead">
    <img src="" alt="">
  </div>
  <div class="kanresultclosebtn" (click)="iskan = false"></div>
  <div class="kanmoneyshow">
    16.6
  </div>
</div>
