<div class="kanjiabox flexcol">
  <div class="backicon">
    <img src="./assets/image/kanjia/back.png" alt="">
  </div>
  <div class="huodongguize" (click)="showqs()"></div>
  <img src="./assets/image/kanjia/head.png" alt="">
  <div class="bigkanbox">
    <div class="bigkanlist">
      <img src="./assets/image/kanjia/kanlist1.png" alt="">
    </div>
    <div class="bigkanlist">
      <img src="./assets/image/kanjia/kanlist2.png" alt="">
    </div>
    <div class="bigkanlist">
      <img src="./assets/image/kanjia/kanlist3.png" alt="">
    </div>
    <div class="bigkanlist">
      <img src="./assets/image/kanjia/kanlist4.png" alt="">
    </div>
  </div>
  <div class="indecbox" id="indecbox">
    <img class="indecimg" style="margin-top: .2rem" src="./assets/image/kanjia/indec1.png" alt="">
    <img class="indecimg" src="./assets/image/kanjia/indec2.png" alt="">
    <div class="tree1">
      <img src="./assets/image/kanjia/tree1.png" alt="">
    </div>
    <div class="tree2">
      <img src="./assets/image/kanjia/tree2.png" alt="">
    </div>
  </div>
  <div class="erweibox">
    <img class="erweibg" src="./assets/image/kanjia/erweibg.png" alt="">
    <img class="erweima" src="./assets/image/gongzhongerwei.jpeg" alt="">
  </div>
</div>

