<div class="kanjiabox flexcol">
  <div class="backicon" (click)="back()">
    <img src="./assets/image/kanjia/back.png" alt="">
  </div>
  <div class="huodongguize" (click)="showqs()"></div>
  <img src="./assets/image/kanjia/head.png" alt="">
  <div class="bigkanbox">
    <div class="bigkanlist" *ngFor="let item of imgs" [routerLink]="['/goodsdetail', {'goodsId': item.goodsId}]">
      <div class="leftimgbox">
        <img src="{{item.activityPic}}" alt="">
      </div>
      <img class="futouimg" src="./assets/image/kanjia/futou.png" alt="">
    </div>
  </div>
  <div class="indecbox" id="indecbox" style="margin-bottom: 4rem">
    <img class="indecimg" style="margin-top: .2rem" src="./assets/image/kanjia/indec1.png" alt="">
    <img class="indecimg" src="./assets/image/kanjia/indec2.png" alt="">
    <div class="tree1">
      <img src="./assets/image/kanjia/tree1.png" alt="">
    </div>
    <div class="tree2">
      <img src="./assets/image/kanjia/tree2.png" alt="">
    </div>
  </div>
  <div class="erweibox">
    <img class="erweibg" src="./assets/image/kanjia/erweibg.png" alt="">
    <img class="erweima" src="./assets/image/gongzhongerwei.jpeg" alt="">
  </div>
</div>

<app-alertbox></app-alertbox>
