<div class="bigBox">
  <div class="head">
    <div [class.selit]="showWhitchStatus==1" class="headlist" (click)="showWitch(1,$event)">全部</div>
    <div [class.selit]="showWhitchStatus==2" class="headlist" (click)="showWitch(2,$event)">待支付</div>
    <div [class.selit]="showWhitchStatus==3" class="headlist" (click)="showWitch(3,$event)">待使用</div>
    <div [class.selit]="showWhitchStatus==4" class="headlist" (click)="showWitch(4,$event)">已完成</div>
    <div [class.selit]="showWhitchStatus==5" class="headlist" (click)="showWitch(5,$event)">已取消</div>
  </div>
  <div class="boxShow">
    <div *ngIf="showWhitchStatus==1" class="boxShowlist">
      <img class="noOrderImg" src="./assets/image/noOrder.png" alt="">
    </div>
    <div *ngIf="showWhitchStatus==2" class="boxShowlist">
      <img class="noOrderImg" src="./assets/image/noOrder.png" alt="">
      <div class="orderBox">
        <div class="shopInfoCon">
          <div class="shopName"><img src="./assets/image/shopIconHui.png" alt=""><span>春鸟科美顺义天美No.016店</span></div>
          <div class="rightStatus">
            <span>待支付</span>
            <img src="./assets/image/delIcon.png" alt="">
          </div>
        </div>
        <div class="shopCartBox">
          <div class="productList"  >
            <div class="productImg">
              <img src="" alt="">
            </div>
            <div class="productIndec">
              <div class="name">春鸟科美-素肤净体</div>
              <div class="classly">
                <div class="list">贝基尼</div>
              </div>
              <div class="specBox">
                <span>单次</span>
              </div>
            </div>
            <div class="rightBox">
              <div class="price">￥380.00</div>
            </div>
          </div>
          <div class="productList"  >
            <div class="productImg">
              <img src="" alt="">
            </div>
            <div class="productIndec">
              <div class="name">春鸟科美-素肤净体</div>
              <div class="classly">
                <div class="list">贝基尼</div>
              </div>
              <div class="specBox">
                <span>单次</span>
              </div>
            </div>
            <div class="rightBox">
              <div class="price">￥380.00</div>
            </div>
          </div>
        </div>
        <div class="bottomCaozuo">
          <div class="leftSpan">
            <span>共2项服务</span>
            <span>需支付:￥380.00</span>
          </div>
          <div class="caozuoBtn">去支付</div>
        </div>
      </div>
    </div>
    <div *ngIf="showWhitchStatus==3" class="boxShowlist">
      <img class="noOrderImg" src="./assets/image/noOrder.png" alt="">
      <div class="orderBox">
        <div class="shopInfoCon">
          <div class="shopName"><img src="./assets/image/shopIconHui.png" alt=""><span>春鸟科美顺义天美No.016店</span></div>
          <div class="rightStatus">
            <span>等待使用</span>
          </div>
        </div>
        <div class="shopCartBox">
          <div class="productList"  >
            <div class="productImg">
              <img src="" alt="">
            </div>
            <div class="productIndec">
              <div class="name">春鸟科美-素肤净体</div>
              <div class="classly">
                <div class="list">贝基尼</div>
              </div>
              <div class="specBox">
                <span>单次</span>
              </div>
            </div>
            <div class="rightBox">
              <div class="price">￥380.00</div>
            </div>
          </div>
        </div>
        <div class="bottomCaozuo" style="justify-content: flex-end;">
          <div class="leftSpan" style="margin-right: 0.2rem">
            <span>共2项服务</span>
            <span>实付:￥380.00</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showWhitchStatus==4" class="boxShowlist">
      <img class="noOrderImg" src="./assets/image/noOrder.png" alt="">
      <div class="orderBox">
        <div class="shopInfoCon">
          <div class="shopName"><img src="./assets/image/shopIconHui.png" alt=""><span>春鸟科美顺义天美No.016店</span></div>
          <div class="rightStatus">
            <span style="color: #868686">已完成</span>
            <img src="./assets/image/delIcon.png" alt="">
          </div>
        </div>
        <div class="shopCartBox">
          <div class="productList"  >
            <div class="productImg">
              <img src="" alt="">
            </div>
            <div class="productIndec">
              <div class="name">春鸟科美-素肤净体</div>
              <div class="classly">
                <div class="list">贝基尼</div>
              </div>
              <div class="specBox">
                <span>单次</span>
              </div>
            </div>
            <div class="rightBox">
              <div class="price">￥380.00</div>
            </div>
          </div>
        </div>
        <div class="bottomCaozuo" style="justify-content: flex-end;">
          <div class="leftSpan" style="margin-right: 0.2rem">
            <span>共2项服务</span>
            <span>实付:￥380.00</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showWhitchStatus==5" class="boxShowlist">
      <img class="noOrderImg" src="./assets/image/noOrder.png" alt="">
      <div class="orderBox">
        <div class="shopInfoCon">
          <div class="shopName"><img src="./assets/image/shopIconHui.png" alt=""><span>春鸟科美顺义天美No.016店</span></div>
          <div class="rightStatus">
            <span style="color: #868686">已取消</span>
            <img src="./assets/image/delIcon.png" alt="">
          </div>
        </div>
        <div class="shopCartBox">
          <div class="productList"  >
            <div class="productImg">
              <img src="" alt="">
            </div>
            <div class="productIndec">
              <div class="name">春鸟科美-素肤净体</div>
              <div class="classly">
                <div class="list">贝基尼</div>
              </div>
              <div class="specBox">
                <span>单次</span>
              </div>
            </div>
            <div class="rightBox">
              <div class="price">￥380.00</div>
            </div>
          </div>
        </div>
        <div class="bottomCaozuo" style="justify-content: flex-end;">
          <div class="leftSpan" style="margin-right: 0.2rem">
            <span>共2项服务</span>
            <span>实付:￥380.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
