<div class="bigBox">
  <div class="head">
    <div [class.selit]="showWhitchStatus==1" class="headlist" (click)="showWitch(1)">全部</div>
    <div [class.selit]="showWhitchStatus==2" class="headlist" (click)="showWitch(2)">待支付</div>
    <div [class.selit]="showWhitchStatus==3" class="headlist" (click)="showWitch(3)">待使用</div>
    <div [class.selit]="showWhitchStatus==4" class="headlist" (click)="showWitch(4)">已完成</div>
    <div [class.selit]="showWhitchStatus==5" class="headlist" (click)="showWitch(5)">已取消</div>
  </div>
  <div class="boxShow">
    <div *ngIf="showWhitchStatus==1" class="boxShowlist">
      <img class="noOrderImg" *ngIf="showWhitchStatusArr1.length==0" src="./assets/image/noOrder.png" alt="">
      <div class="orderBox" *ngFor="let item of showWhitchStatusArr1 let i = index" [routerLink]="['/orderdetail', {id: item.id}]">
        <div class="shopInfoCon">
          <div class="shopName"><img src="./assets/image/shopIconHui.png" alt=""><span>{{item.store.name}}</span></div>
          <div class="rightStatus" *ngIf="item.orderStatus==0">
            <span>待支付</span>
            <img src="./assets/image/delIcon.png" (click)="cancelOrder(item,i,showWhitchStatusArr1);$event.stopPropagation();" alt="">
          </div>
          <div class="rightStatus" *ngIf="item.orderStatus==1">
            <span>等待使用</span>
          </div>
          <div class="rightStatus" *ngIf="item.orderStatus==2">
            <span style="color: #868686">已完成</span>
            <img src="./assets/image/delIcon.png" (click)="cancelOrder(item,i,showWhitchStatusArr1);$event.stopPropagation();" alt="">
          </div>
          <div class="rightStatus" *ngIf="item.orderStatus==9">
            <span style="color: #868686">已取消</span>
            <img src="./assets/image/delIcon.png" (click)="cancelOrder(item,i,showWhitchStatusArr1);$event.stopPropagation();" alt="">
          </div>
        </div>
        <div class="shopCartBox">
          <div class="productList" *ngFor="let list of item.detail" >
            <div class="productImg">
              <img [src]="list.miniPhotoAddr" alt="">
            </div>
            <div class="productIndec">
              <div class="name">{{list.goodsName}}</div>
              <div class="classly">
                <div class="list">{{list.skuStyleName}}</div>
              </div>
              <div class="specBox">
                <span>{{list.skuSpecName}}</span>
              </div>
            </div>
            <div class="rightBox">
              <div >x{{list.count}}</div>
              <div class="price">￥{{list.price}}</div>
            </div>
          </div>
        </div>
        <div class="bottomCaozuo" *ngIf="item.orderStatus==0">
          <div class="leftSpan">
            <span>共{{item.detail.length}}项服务</span>
            <span>需支付:￥{{item.orderAmountPayable}}</span>
          </div>
          <div class="caozuoBtn" (click)="payFn(item);$event.stopPropagation();">去支付</div>
        </div>
        <div class="bottomCaozuo" style="justify-content: flex-end;"  *ngIf="item.orderStatus==1 || item.orderStatus==2 || item.orderStatus==9">
          <div class="leftSpan" style="margin-right: 0.2rem">
            <span>共{{item.detail.length}}项服务</span>
            <span>实付:￥{{item.orderAmountPayable}}</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showWhitchStatus==2" class="boxShowlist">
      <img class="noOrderImg" *ngIf="showWhitchStatusArr2.length==0" src="./assets/image/noOrder.png" alt="">
      <div class="orderBox" *ngFor="let item of showWhitchStatusArr2 let i = index" [routerLink]="['/orderdetail', {id: item.id}]">
        <div class="shopInfoCon">
          <div class="shopName"><img src="./assets/image/shopIconHui.png" alt=""><span>{{item.store.name}}</span></div>
          <div class="rightStatus">
            <span>待支付</span>
            <img src="./assets/image/delIcon.png" (click)="cancelOrder(item,i,showWhitchStatusArr2);$event.stopPropagation();" alt="">
          </div>
        </div>
        <div class="shopCartBox">
          <div class="productList" *ngFor="let list of item.detail" >
            <div class="productImg">
              <img [src]="list.miniPhotoAddr" alt="">
            </div>
            <div class="productIndec">
              <div class="name">{{list.goodsName}}</div>
              <div class="classly">
                <div class="list">{{list.skuStyleName}}</div>
              </div>
              <div class="specBox">
                <span>{{list.skuSpecName}}</span>
              </div>
            </div>
            <div class="rightBox">
              <div >x{{list.count}}</div>
              <div class="price">￥{{list.price}}</div>
            </div>
          </div>
        </div>
        <div class="bottomCaozuo">
          <div class="leftSpan">
            <span>共{{item.detail.length}}项服务</span>
            <span>需支付:￥{{item.orderAmountPayable}}</span>
          </div>
          <div class="caozuoBtn" (click)="payFn(item);$event.stopPropagation();">去支付</div>
        </div>
      </div>
    </div>
    <div *ngIf="showWhitchStatus==3" class="boxShowlist">
      <img class="noOrderImg" *ngIf="showWhitchStatusArr3.length==0" src="./assets/image/noOrder.png" alt="">
      <div class="orderBox" *ngFor="let item of showWhitchStatusArr3" [routerLink]="['/orderdetail', {id: item.id}]">
        <div class="shopInfoCon">
          <div class="shopName"><img src="./assets/image/shopIconHui.png" alt=""><span>{{item.store.name}}</span></div>
          <div class="rightStatus">
            <span>等待使用</span>
          </div>
        </div>
        <div class="shopCartBox">
          <div class="productList" *ngFor="let list of item.detail" >
            <div class="productImg">
              <img [src]="list.miniPhotoAddr" alt="">
            </div>
            <div class="productIndec">
              <div class="name">{{list.goodsName}}</div>
              <div class="classly">
                <div class="list">{{list.skuStyleName}}</div>
              </div>
              <div class="specBox">
                <span>{{list.skuSpecName}}</span>
              </div>
            </div>
            <div class="rightBox">
              <div >x{{list.count}}</div>
              <div class="price">￥{{list.price}}</div>
            </div>
          </div>
        </div>
        <div class="bottomCaozuo" style="justify-content: flex-end;">
          <div class="leftSpan" style="margin-right: 0.2rem">
            <span>共{{item.detail.length}}项服务</span>
            <span>实付:￥{{item.orderAmountPayable}}</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showWhitchStatus==4" class="boxShowlist">
      <img class="noOrderImg" *ngIf="showWhitchStatusArr4.length==0" src="./assets/image/noOrder.png" alt="">
      <div class="orderBox" *ngFor="let item of showWhitchStatusArr4 let i = index" [routerLink]="['/orderdetail', {id: item.id}]">
        <div class="shopInfoCon">
          <div class="shopName"><img src="./assets/image/shopIconHui.png" alt=""><span>{{item.store.name}}</span></div>
          <div class="rightStatus">
            <span style="color: #868686">已完成</span>
            <img src="./assets/image/delIcon.png" (click)="cancelOrder(item,i,showWhitchStatusArr4);$event.stopPropagation();" alt="">
          </div>
        </div>
        <div class="shopCartBox">
          <div class="productList" *ngFor="let list of item.detail" >
            <div class="productImg">
              <img [src]="list.miniPhotoAddr" alt="">
            </div>
            <div class="productIndec">
              <div class="name">{{list.goodsName}}</div>
              <div class="classly">
                <div class="list">{{list.skuStyleName}}</div>
              </div>
              <div class="specBox">
                <span>{{list.skuSpecName}}</span>
              </div>
            </div>
            <div class="rightBox">
              <div >x{{list.count}}</div>
              <div class="price">￥{{list.price}}</div>
            </div>
          </div>
        </div>
        <div class="bottomCaozuo" style="justify-content: flex-end;">
          <div class="leftSpan" style="margin-right: 0.2rem">
            <span>共{{item.detail.length}}项服务</span>
            <span>实付:￥{{item.orderAmountPayable}}</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showWhitchStatus==5" class="boxShowlist">
      <img class="noOrderImg" *ngIf="showWhitchStatusArr5.length==0" src="./assets/image/noOrder.png" alt="">
      <div class="orderBox" *ngFor="let item of showWhitchStatusArr5 let i = index" [routerLink]="['/orderdetail', {id: item.id}]">
        <div class="shopInfoCon">
          <div class="shopName"><img src="./assets/image/shopIconHui.png" alt=""><span>{{item.store.name}}</span></div>
          <div class="rightStatus">
            <span style="color: #868686">已取消</span>
            <img src="./assets/image/delIcon.png" (click)="cancelOrder(item,i,showWhitchStatusArr5);$event.stopPropagation();" alt="">
          </div>
        </div>
        <div class="shopCartBox">
          <div class="productList" *ngFor="let list of item.detail" >
            <div class="productImg">
              <img [src]="list.miniPhotoAddr" alt="">
            </div>
            <div class="productIndec">
              <div class="name">{{list.goodsName}}</div>
              <div class="classly">
                <div class="list">{{list.skuStyleName}}</div>
              </div>
              <div class="specBox">
                <span>{{list.skuSpecName}}</span>
              </div>
            </div>
            <div class="rightBox">
              <div >x{{list.count}}</div>
              <div class="price">￥{{list.price}}</div>
            </div>
          </div>
        </div>
        <div class="bottomCaozuo" style="justify-content: flex-end;">
          <div class="leftSpan" style="margin-right: 0.2rem">
            <span>共{{item.detail.length}}项服务</span>
            <span>实付:￥{{item.orderAmountPayable}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-alertbox></app-alertbox>
