.bigBox{
  width: 100%;
  background: #dcdcdc;
  display: flex;
  flex-direction: column;
}
.bigBox .head{
  width: 100%;
  height: 0.8rem;
  background: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}

.bigBox .headlist{
  width: 1rem;
  height: 0.8rem;
  border-bottom: 0.02rem solid #FFF;
  text-align: center;
  color: #737373;
  font-size: 0.32rem;
  line-height: 0.8rem;
}
.boxShow{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.9rem;
  padding-bottom: 0.5rem;
}
.boxShowlist{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxShowlist .justimg{
  width: 100%;
}
.selit{
  border-bottom: 0.02rem solid #deb95f !important;
  color: #deb95f !important;
}

.noOrderImg{
  width: 2.54rem;
  height: 2.2rem;
  position: absolute;
  left: 50%;
  margin-left: -1.27rem;
  top: 50%;
  margin-top: -1.1rem;
  z-index: 9;
}
.orderBox{
  width: 7.25rem;
  min-height: 2.7rem;
  background: #FFF;
  border-radius: 0.15rem;
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopInfoCon{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.1rem;
}
.shopInfoCon .shopName{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 0.2rem;
}
.shopInfoCon .shopName img{
  width: 0.36rem;
  height: 0.34rem;
  display: block;
}
.shopInfoCon .shopName span{
  font-size: 0.24rem;
  line-height: 0.24rem;
  color: #a9a9a9;
  margin-left: 0.1rem;
}
.shopInfoCon  .rightStatus{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.2rem;
}
.shopInfoCon .rightStatus span{
  line-height: 0.24rem;
  font-size: 0.24rem;
  color: #f27442;
  margin-right: 0.1rem;
}
.shopInfoCon .rightStatus img{
  width: 0.28rem;
  height: 0.3rem;
  display: block;
}

.shopCartBox{
  width: 100%;
  background: #FFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #e5e5e5;
}
.shopCartBox .heads{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 0.15rem;
}
.shopCartBox .heads .shopName{
  color: #3c3c3c;
  font-size: 0.28rem;
}
.ml20{
  margin-left: 0.2rem;
}
.left30{
  left: 0.3rem !important;
}
.shopCartBox .productList{
  width: 100%;
  height: 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 0.15rem;
}
.shopCartBox .productList .productImg{
  width: 1.4rem;
  height: 1.4rem;
  background: #eeeeee;
  border-radius: 0.05rem;
  overflow: hidden;
}
.shopCartBox .productList .productImg img{
  width: 1.4rem;
  height: 1.4rem;
}
.shopCartBox  .productIndec{
  width: 2.9rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: -0.6rem;
}
.shopCartBox  .productIndec .name{
  width: 100%;
  font-size: 0.24rem;
  color: #737373;
  word-break:break-all;
  word-wrap:break-word;
  line-height: 0.24rem;
}
.shopCartBox  .productIndec .classly{
  width: 100%;
  word-break:break-all;
  word-wrap:break-word;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.1rem;
}
.shopCartBox  .productIndec .classly .list{
  padding: 0 0.1rem;
  background: #f8f1df;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 0.1rem;
  font-size: 0.16rem;
  color: #deb95f;
}
.shopCartBox  .productIndec  .specBox{
  width: 100%;
  word-break:break-all;
  word-wrap:break-word;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.1rem;
}
.shopCartBox  .productIndec  .specBox span{
  font-size: 0.16rem;
  color: #f27442;
}

.shopCartBox  .rightBox .price{
  font-size: 0.28rem;
  color: #f27442;
  margin-bottom: 0.05rem;
}
.shopCartBox  .rightBox .number{
  font-size: 0.24rem;
  color: #737373;
  margin-top: 0.05rem;
}
.shopCartBox  .rightBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;
}
.bottomCaozuo{
  width: 100%;
  height: 0.52rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bottomCaozuo .leftSpan{
  display: flex;
  flex-direction: row;
}
.bottomCaozuo .leftSpan span{
  color: #737373;
  font-size: 0.24rem;
  margin-left: 0.18rem;
}
.caozuoBtn{
  width: 1.25rem;
  height: 0.45rem;
  background: #f27442;
  color: #fffefe;
  font-size: 0.28rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 0.2rem;
  border-radius: 0.1rem;
}
